set up clearscape

https://clearscape.teradata.com/dashboard

In [1]:
import sqlalchemy as alc
import pandas as pd
import os

# add run method to engine
def run(self: alc.engine.Engine, sql:str) -> pd.DataFrame | None:
    with self.begin() as conn:
        res = conn.execute(alc.text(sql))
        if res.returns_rows:
            return pd.DataFrame(res.all(), columns=res.keys())

alc.engine.Engine.run = run

connection_string = f"teradatasql://demo_user:{os.environ['password']}@test-l36lujzkc0420a7n.env.clearscape.teradata.com"
eng = alc.create_engine(connection_string)

In [3]:
_ = eng.run(f"select * from dbc.dbcinfo where infokey = 'Version'")
_

   InfoKey     InfoData
0  VERSION  17.20.03.26

In [5]:
df = eng.run(f"""
select *
from dbc.dbcinfo
where infokey = 'Version'
"""
)
df

   InfoKey     InfoData
0  VERSION  17.20.03.26

In [6]:
qry = f"""
select
    *
from dbc.dbcinfo
where infokey = 'Version'
"""

df = eng.run(qry)
df

   InfoKey     InfoData
0  VERSION  17.20.03.26

In [7]:
_ = eng.run("select top 5 * from dbc.dbcinfo")
print(_.head().to_string())

                 InfoKey     InfoData
0                VERSION  17.20.03.26
1                RELEASE  17.20.03.26
2  LANGUAGE SUPPORT MODE     Standard

In [8]:
eng.run("select count(*) as n from dbc.dbcinfo").iloc[0,0]

np.int64(3)

In [4]:
qry = f"""
select
    infokey,
    count(1) as n
from dbc.dbcinfo
where infokey = 'Version'
group by 1
order by 1
"""

df = eng.run(qry)
df

   InfoKey  n
0  VERSION  1

In [23]:
tbl = "tmp_tbl"

try:
    eng.run(f"drop table {tbl}")
except Exception as e:
    pass

_ = eng.run(
f"""
create table {tbl} as (
    select *
    from dbc.dbcinfo
) with data;


"""
)

for qry in (f"""
select count(*) from {tbl};

drop table {tbl};
""".split(";")
):
    qry = qry.strip()
    if qry:
        res = eng.run(qry)
        if res is not None:
            print(res)

   Count(*)
0         3
Empty DataFrame
Columns: []
Index: []