In [1]:
import pandas as pd
import numpy as np

### series

- generalised np.array
- specialised dictionary

In [4]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [5]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [6]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
data[1:3]

1    0.50
2    0.75
dtype: float64

In [8]:
# Series as generalized NumPy array
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                    index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [9]:
data['b']

0.5

In [10]:
# Series as specialized dictionary
population_dict = {'California': 38332521,
                    'Texas': 26448193,
                    'New York': 19651127,
                    'Florida': 19552860,
                    'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [11]:
population['California':'Illinois']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [12]:
# Constructing Series objects
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [13]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [14]:
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

### dataframe

- generalised np.array
- specialised dictionary

In [15]:
# frame as generalized array
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [16]:
states = pd.DataFrame({'population': population,
                          'area': area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [17]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [18]:
states.columns

Index(['population', 'area'], dtype='object')

In [19]:
states.values

array([[38332521,   423967],
       [26448193,   695662],
       [19651127,   141297],
       [19552860,   170312],
       [12882135,   149995]], dtype=int64)

In [20]:
# DataFrame as specialized dictionary
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [21]:
# Constructing DataFrame objects
# From a single Series object
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [24]:
# From a list of dicts
data = [{'a': i, 'b': 2 * i}
            for i in range(3)]
data.append({'a': 3, 'c': 4})
pd.DataFrame(data)

   a    b    c
0  0  0.0  NaN
1  1  2.0  NaN
2  2  4.0  NaN
3  3  NaN  4.0

In [25]:
# dictionary of Series objects
pd.DataFrame({'population': population,
                 'area': area})

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [26]:
# From a two-dimensional NumPy array
pd.DataFrame(np.random.rand(3, 2),
               columns=['foo', 'bar'],
               index=['a', 'b', 'c'])

        foo       bar
a  0.121511  0.300006
b  0.902836  0.474008
c  0.297933  0.574910

In [27]:
# From a NumPy structured array
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

### index

- immutable array
- ordered (multi)set

In [28]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Index([2, 3, 5, 7, 11], dtype='int64')

In [30]:
# Index as immutable array
ind[::2]

Index([2, 5, 11], dtype='int64')

In [31]:
ind.size, ind.shape, ind.ndim, ind.dtype

(5, (5,), 1, dtype('int64'))

In [32]:
# Index as ordered set
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [33]:
indA & indB  # intersection

Index([0, 3, 5, 7, 9], dtype='int64')

In [34]:
indA | indB  # union

Index([3, 3, 5, 7, 11], dtype='int64')

In [35]:
indA ^ indB  # symmetric difference

Index([3, 0, 0, 0, 2], dtype='int64')