In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import statsmodels.api as sm
from scipy import stats

In [5]:
df = pd.read_csv('titanic.csv')
print(f"{df.shape}")
print(df.head(1).to_string())

(891, 15)
   survived  pclass   sex   age  sibsp  parch  fare embarked  class  who  adult_male deck  embark_town alive  alone
0         0       3  male  22.0      1      0  7.25        S  Third  man        True  NaN  Southampton    no  False

### selection via equality

In [7]:
df.query("embark_town == 'Southampton'").shape

(644, 15)

In [8]:
df.query("age == 20").shape

(15, 15)

### selection via inequality

In [ ]:
df.query("index < b < c")
df.query('ilevel_0 == "red"')

df.query("(a < b) & (b < c)")
df.query("a < b & b < c")
df.query("a < b and b < c")
df.query("a < b < c")

df.query("a in b")
df.query("a not in b")
df.query("a in b and c < d")
df.query('b == ["a", "b", "c"]')
df.query("c == [1, 2]")
df.query("c != [1, 2]")
df.query("[1, 2] in c")
df.query("[1, 2] not in c")

df.query("~bools")
df.query("not bools")
df.query("not bools") == df[~df["bools"]]
df.query("a < b < c and (not bools) or bools > 2")