In [1]:
import sqlalchemy as alc
import pandas as pd

# add run method to engine
def run(self, sql):
    with self.begin() as conn:
        res = conn.execute(alc.text(sql))
        if res.returns_rows:
            return pd.DataFrame(res.all(), columns=res.keys())

alc.engine.Engine.run = run

In [2]:
import sqlalchemy

pw = "adfsagf"
connection_string = f"teradatasql://demo_user:{pw}@test-l36lujzkc0420a7n.env.clearscape.teradata.com"
eng = sqlalchemy.create_engine(connection_string)

In [3]:
eng.run("select * from dbc.dbcinfo")

                 InfoKey     InfoData
0                VERSION  17.20.03.18
1  LANGUAGE SUPPORT MODE     Standard
2                RELEASE  17.20.03.18