In [1]:
def l2kg(lbs):
    return lbs * 0.453592


def kg2l(kg):
    return kg / 0.453592

In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame()

df["kg"] = np.arange(100, 301, 10)
df["lbs"] = df["kg"].apply(kg2l)
df["lbs"] = df["lbs"].apply(lambda x: round(x, 2))

df

     kg     lbs
0   100  220.46
1   110  242.51
2   120  264.55
3   130  286.60
4   140  308.65
5   150  330.69
6   160  352.74
7   170  374.79
8   180  396.83
9   190  418.88
10  200  440.92
11  210  462.97
12  220  485.02
13  230  507.06
14  240  529.11
15  250  551.16
16  260  573.20
17  270  595.25
18  280  617.29
19  290  639.34
20  300  661.39