### libs

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl

In [2]:
def make_bins(df: pd.DataFrame, col, bins: list) -> pd.Series:

    res = pd.Series(index=df.index, dtype=object)

    for i, bin_edge in enumerate(bins):
        if i == 0:
            res.loc[df[col] < bin_edge] = f"[-Inf, {bin_edge})"
        else:
            res.loc[(df[col] >= bins[i - 1]) & (df[col] < bin_edge)] = (
                f"[{bins[i-1]},{bin_edge})"
            )
    res.loc[df[col] >= bins[-1]] = f"[{bins[-1]},Inf)"
    return res

### data

In [3]:
import seaborn as sns

df = sns.load_dataset("titanic")[["survived", "who", "age", "fare"]]
print(f"{df.shape = }")
print(df.head().to_string())

df.shape = (891, 4)
   survived    who   age     fare
0         0    man  22.0   7.2500
1         1  woman  38.0  71.2833
2         1  woman  26.0   7.9250
3         1  woman  35.0  53.1000
4         0    man  35.0   8.0500

In [ ]:
# # expand df by 10000 times
# df = pd.concat([df] * 10000, ignore_index=True)
# df = df.sample(frac=1, random_state=42).reset_index(drop=True)
# print(f"{df.shape = }")

df.shape = (8910000, 4)

### step by step

In [4]:
df2 = df.copy()

In [5]:
df2["id"] = range(1, len(df2) + 1)

#### avg age in who

In [27]:
df2["avg_age_in_who"] = df2.groupby("who", dropna=False)["age"].transform("mean")

In [ ]:
df2['who']# A

0        man
1      woman
2      woman
3      woman
4        man
       ...
886      man
887    woman
888    woman
889      man
890      man
Name: who, Length: 891, dtype: object

In [91]:
for i, grp in df2.groupby("who", dropna=False):
    print(f"{i = }")
    print(f"{grp.shape = }")
    print(f"{grp.max()['age'] = }")
    print(f"{type(grp) = }")
    print(f"{" "}")

i = 'child'
grp.shape = (83, 5)
grp.max()['age'] = np.float64(15.0)
type(grp) = <class 'pandas.core.frame.DataFrame'>

i = 'man'
grp.shape = (537, 5)
grp.max()['age'] = np.float64(80.0)
type(grp) = <class 'pandas.core.frame.DataFrame'>

i = 'woman'
grp.shape = (271, 5)
grp.max()['age'] = np.float64(63.0)
type(grp) = <class 'pandas.core.frame.DataFrame'>

In [ ]:
df2.groupby("who", dropna=False)['age'].transform('max')# B

0      80.0
1      63.0
2      63.0
3      63.0
4      80.0
       ...
886    80.0
887    63.0
888    63.0
889    80.0
890    80.0
Name: age, Length: 891, dtype: float64

#### the other 2 transforms/applies

In [28]:
df2["cumcount_in_who_by_fare"] = (
    df2.sort_values(["fare", "id"], na_position="last")
    .groupby("who", dropna=False)
    .cumcount()
    + 1
)

In [29]:
df2["age_of_lowest_fare_in_who"] = (
    df2.sort_values(["fare", "id"], na_position="last")
    .groupby("who", dropna=False)["age"]
    .transform("first")
)

#### case when lambda

In [139]:
src_col = "fare"
col = "fare_bin"

df2.loc[lambda x: x[src_col] < 0, col] = "[-Inf, 0)"
df2.loc[lambda x: (x[src_col] >= 0) & (x[src_col] < 10), col] = "[0,10)"
df2.loc[lambda x: (x[src_col] >= 10) & (x[src_col] < 20), col] = "[10,20)"
df2.loc[lambda x: (x[src_col] >= 20) & (x[src_col] < 30), col] = "[20,30)"
df2.loc[lambda x: (x[src_col] >= 30) & (x[src_col] < 100), col] = "[30,100)"
df2.loc[lambda x: x[src_col] >= 100, col] = "[100,Inf)"

In [133]:
type(lambda x:x)

function

In [135]:
(lambda x: x+1)(1)

2

In [136]:
func = (lambda x: x+1)

In [137]:
func(1)

2

In [138]:
def func(x):
    return x + 1
func(1)

2

In [144]:
df2.loc[df['fare'] < 10]

     survived    who   age    fare   id   fare_adj fare_bin
0           0    man  22.0  7.2500    1  11.733571   [0,10)
2           1  woman  26.0  7.9250    3  13.163443   [0,10)
4           0    man  35.0  8.0500    5   8.879233   [0,10)
5           0    man   NaN  8.4583    6   9.287615   [0,10)
12          0    man  20.0  8.0500   13  11.259811   [0,10)
..        ...    ...   ...     ...  ...        ...      ...
877         0    man  19.0  7.8958  878  11.014740   [0,10)
878         0    man   NaN  7.8958  879   9.813686   [0,10)
881         0    man  33.0  7.8958  882   7.241456   [0,10)
884         0    man  25.0  7.0500  885  12.459457   [0,10)
890         0    man  32.0  7.7500  891  13.852411   [0,10)

[336 rows x 7 columns]

In [145]:
df['fare'] < 10

0       True
1      False
2       True
3      False
4       True
       ...
886    False
887    False
888    False
889    False
890     True
Name: fare, Length: 891, dtype: bool

In [ ]:
df2.loc[lambda x: x['fare'] < 10 ,:]

     survived    who   age    fare   id   fare_adj fare_bin
0           0    man  22.0  7.2500    1  11.733571   [0,10)
2           1  woman  26.0  7.9250    3  13.163443   [0,10)
4           0    man  35.0  8.0500    5   8.879233   [0,10)
5           0    man   NaN  8.4583    6   9.287615   [0,10)
12          0    man  20.0  8.0500   13  11.259811   [0,10)
..        ...    ...   ...     ...  ...        ...      ...
877         0    man  19.0  7.8958  878  11.014740   [0,10)
878         0    man   NaN  7.8958  879   9.813686   [0,10)
881         0    man  33.0  7.8958  882   7.241456   [0,10)
884         0    man  25.0  7.0500  885  12.459457   [0,10)
890         0    man  32.0  7.7500  891  13.852411   [0,10)

[336 rows x 7 columns]

#### case when loop

In [103]:
col = 'fare'
bins = [0, 10, 20, 30, 100]

res = pd.Series(index=df.index, dtype=object)

for i, bin_edge in enumerate(bins):
    print(f"{i = }, {bin_edge = }")
    print(f"{bins[i] = }")
    print(f"{bins[i-1] = }")
    print()
    # if i == 0:
    #     res.loc[df[col] < bin_edge] = f"[-Inf, {bin_edge})"
    # else:
    #     res.loc[(df[col] >= bins[i - 1]) & (df[col] < bin_edge)] = (
    #         f"[{bins[i-1]},{bin_edge})"
    #     )
    
# res.loc[df[col] >= bins[-1]] = f"[{bins[-1]},Inf)"

res

i = 0, bin_edge = 0
bins[i] = 0
bins[i-1] = 100

i = 1, bin_edge = 10
bins[i] = 10
bins[i-1] = 0

i = 2, bin_edge = 20
bins[i] = 20
bins[i-1] = 10

i = 3, bin_edge = 30
bins[i] = 30
bins[i-1] = 20

i = 4, bin_edge = 100
bins[i] = 100
bins[i-1] = 30

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
886    NaN
887    NaN
888    NaN
889    NaN
890    NaN
Length: 891, dtype: object

In [130]:
make_bins(df2, "fare_adj", bins=[0, 10, 20, 30, 100])

0       [10,20)
1      [30,100)
2       [10,20)
3      [30,100)
4        [0,10)
         ...
886     [10,20)
887    [30,100)
888     [20,30)
889    [30,100)
890     [10,20)
Length: 891, dtype: object

#### stats

In [114]:
import scipy.stats as stats

np.random.seed(42)

df2["fare_adj"] = np.clip(
    df2["fare"] + stats.norm.rvs(loc=2, scale=5, size=len(df2.index)),
    a_min=0,
    a_max=None,
)

In [107]:
np.clip(
    pd.Series([-1, 3, 5]),
    a_min=0,
    a_max=None,
)

0    0
1    3
2    5
dtype: int64

In [ ]:
type(stats.norm.rvs(loc=2, scale=5, size=3))

numpy.ndarray

In [127]:
stats.norm.cdf(0)

np.float64(0.5)

In [129]:
stats.norm.fit([-0.5,0,0.5])

(np.float64(0.0), np.float64(0.408248290463863))

In [32]:
df2["fare_adj_bin"] = make_bins(df2, "fare_adj", bins=[0, 10, 20, 30, 100])

#### loc and select

In [33]:
df2 = df2.loc[
    lambda x: x["fare"] < 50,
    [
        "id",
        "who",
        "age",
        "fare",
        "fare_adj",
        "fare_bin",
        "fare_adj_bin",
        "avg_age_in_who",
        "cumcount_in_who_by_fare",
        "age_of_lowest_fare_in_who",
    ],
]

In [34]:
print(f"{df2.shape = }")
print(df2.head().to_string())

df2.shape = (7300000, 10)
   id    who   age     fare   fare_adj fare_bin fare_adj_bin  avg_age_in_who  cumcount_in_who_by_fare  age_of_lowest_fare_in_who
1   2    man  48.0   7.8542   9.162878   [0,10)       [0,10)       33.173123                  1310001                       36.0
2   3  woman  26.0   7.9250  13.163443   [0,10)      [10,20)       32.000000                   400001                       18.0
4   5    man  30.0  24.0000  24.829233  [20,30)      [20,30)       33.173123                  3730001                       36.0
5   6  woman  28.0   7.8958   8.725115   [0,10)       [0,10)       32.000000                   390001                       18.0
6   7    man  31.0  13.0000  22.896064  [10,20)      [20,30)       33.173123                  2950001                       36.0

### in one go with funcs

In [35]:
bins = [0, 10, 20, 30, 100]
np.random.seed(42)

df2_2 = df.assign(
    id=lambda x: range(1, len(x) + 1),
    avg_age_in_who=lambda x: x.groupby("who", dropna=False)["age"].transform("mean"),
    cumcount_in_who_by_fare=lambda x: x.sort_values(["fare", "id"], na_position="last")
    .groupby("who", dropna=False)
    .cumcount()
    + 1,
    age_of_lowest_fare_in_who=lambda x: x.sort_values(
        ["fare", "id"], na_position="last"
    )
    .groupby("who", dropna=False)["age"]
    .transform("first"),
    fare_bin=lambda x: make_bins(x, "fare", bins=bins),
    fare_adj=lambda x: np.clip(
        x["fare"] + stats.norm.rvs(loc=2, scale=5, size=len(x.index)),
        a_min=0,
        a_max=None,
    ),
    fare_adj_bin=lambda x: make_bins(x, "fare_adj", bins=bins),
).loc[
    lambda x: x["fare"] < 50,
    [
        "id",
        "who",
        "age",
        "fare",
        "fare_adj",
        "fare_bin",
        "fare_adj_bin",
        "avg_age_in_who",
        "cumcount_in_who_by_fare",
        "age_of_lowest_fare_in_who",
    ],
]
print(f"{df2_2.shape = }")
print(df2_2.head().to_string())

df2_2.shape = (7300000, 10)
   id    who   age     fare   fare_adj fare_bin fare_adj_bin  avg_age_in_who  cumcount_in_who_by_fare  age_of_lowest_fare_in_who
1   2    man  48.0   7.8542   9.162878   [0,10)       [0,10)       33.173123                  1310001                       36.0
2   3  woman  26.0   7.9250  13.163443   [0,10)      [10,20)       32.000000                   400001                       18.0
4   5    man  30.0  24.0000  24.829233  [20,30)      [20,30)       33.173123                  3730001                       36.0
5   6  woman  28.0   7.8958   8.725115   [0,10)       [0,10)       32.000000                   390001                       18.0
6   7    man  31.0  13.0000  22.896064  [10,20)      [20,30)       33.173123                  2950001                       36.0

In [155]:
func = lambda x,y,z: x + y + z

func(1,2,3)

6

In [158]:
func(*[1,2,3])

6

In [36]:
assert df2.compare(df2_2).empty, "DataFrames are not equal!"

### check results while using aggs

In [37]:
df2.groupby(["who"], dropna=False).agg(
    **{
        "n": ("who", "size"),
        "avg_age": ("age", "mean"),
        "max_avg_age_in_who": ("avg_age_in_who", "max"),
    }
).assign(
    equal=lambda x: np.where(
        np.abs(x["avg_age"] - x["max_avg_age_in_who"]) < 0.01, True, False
    )
)

             n    avg_age  max_avg_age_in_who  equal
who
child   770000   6.256494            6.369518  False
man    4660000  32.500000           33.173123  False
woman  1870000  30.273973           32.000000  False

In [40]:
df2.loc[
    lambda x: x["who"] == "child", ["id", "who", "fare", "cumcount_in_who_by_fare"]
].sort_values(["fare", "id"]).head(20)

          id    who   fare  cumcount_in_who_by_fare
116      117  child  7.225                        1
331      332  child  7.225                        2
1631    1632  child  7.225                        3
2317    2318  child  7.225                        4
2673    2674  child  7.225                        5
3223    3224  child  7.225                        6
6341    6342  child  7.225                        7
7972    7973  child  7.225                        8
8565    8566  child  7.225                        9
10343  10344  child  7.225                       10
14270  14271  child  7.225                       11
15101  15102  child  7.225                       12
16320  16321  child  7.225                       13
17053  17054  child  7.225                       14
19612  19613  child  7.225                       15
19857  19858  child  7.225                       16
21008  21009  child  7.225                       17
21598  21599  child  7.225                       18
21936  21937  child  7.225                       19
21960  21961  child  7.225                       20

In [41]:
df2.loc[
    lambda x: x["who"] == "man", ["id", "who", "fare", "cumcount_in_who_by_fare"]
].sort_values(["fare", "id"]).head(20)

        id  who  fare  cumcount_in_who_by_fare
227    228  man   0.0                        1
252    253  man   0.0                        2
309    310  man   0.0                        3
324    325  man   0.0                        4
344    345  man   0.0                        5
352    353  man   0.0                        6
556    557  man   0.0                        7
565    566  man   0.0                        8
603    604  man   0.0                        9
664    665  man   0.0                       10
692    693  man   0.0                       11
717    718  man   0.0                       12
718    719  man   0.0                       13
755    756  man   0.0                       14
896    897  man   0.0                       15
995    996  man   0.0                       16
1002  1003  man   0.0                       17
1008  1009  man   0.0                       18
1058  1059  man   0.0                       19
1136  1137  man   0.0                       20

In [43]:
df2.loc[
    lambda x: x["fare_bin"] != x["fare_adj_bin"],
    ["fare", "fare_bin", "fare_adj", "fare_adj_bin"],
].head(20)

       fare  fare_bin   fare_adj fare_adj_bin
2    7.9250    [0,10)  13.163443      [10,20)
6   13.0000   [10,20)  22.896064      [20,30)
7   18.0000   [10,20)  23.837174      [20,30)
9    7.8958    [0,10)  12.608600      [10,20)
24  30.0708  [30,100)  29.348886      [20,30)
27   9.8250    [0,10)  13.703490      [10,20)
31   7.2292    [0,10)  18.490591      [10,20)
34  27.0000   [20,30)  33.112725     [30,100)
36   7.9250    [0,10)  10.969318      [10,20)
39   7.1250    [0,10)  10.109306      [10,20)
40   7.8958    [0,10)  13.588133      [10,20)
50   7.2500    [0,10)  10.870420      [10,20)
53   6.8583    [0,10)  11.916681      [10,20)
59  15.5000   [10,20)  22.377726      [20,30)
67   9.4833    [0,10)  16.500964      [10,20)
69  30.5000  [30,100)  29.274401      [20,30)
71  13.0000   [10,20)  22.690183      [20,30)
73  19.2583   [10,20)  29.081518      [20,30)
75  26.5500   [20,30)  32.659513     [30,100)
86   7.7750    [0,10)  14.352011      [10,20)

In [44]:
_ = df2.loc[
    lambda x: x["cumcount_in_who_by_fare"] == 1,
    [
        "id",
        "who",
        "fare",
        "age",
        "cumcount_in_who_by_fare",
        "age_of_lowest_fare_in_who",
    ],
]
print(_.head().to_string())

        id    who   fare   age  cumcount_in_who_by_fare  age_of_lowest_fare_in_who
116    117  child  7.225  15.0                        1                       15.0
227    228    man  0.000   NaN                        1                       36.0
2194  2195  woman  6.750  18.0                        1                       18.0