In [14]:
from pathlib import Path
import pandas as pd

# Define the path to your directory
dir_path = Path("toydata")

files = dir_path.glob("*.csv")
for file in files:
    print(file.as_posix())

toydata/anagrams.csv
toydata/anscombe.csv
toydata/attention.csv
toydata/brain_networks.csv
toydata/car_crashes.csv
toydata/diabetes.csv
toydata/diamonds.csv
toydata/dots.csv
toydata/exercise.csv
toydata/flights.csv
toydata/fmri.csv
toydata/gammas.csv
toydata/geyser.csv
toydata/iris.csv
toydata/mpg.csv
toydata/penguins.csv
toydata/planets.csv
toydata/taxis.csv
toydata/tips.csv
toydata/titanic.csv
toydata/wine.csv

In [13]:
def examine_file(file):
    df = pd.read_csv(file)
    print(f"{df.shape}\n")
    print(df.head())
    return df

In [15]:
df = examine_file(file="toydata/anagrams.csv")

(20, 5)

   subidr    attnr  num1  num2  num3
0       1  divided     2   4.0     7
1       2  divided     3   4.0     5
2       3  divided     3   5.0     6
3       4  divided     5   7.0     5
4       5  divided     4   5.0     8

In [16]:
df = examine_file(file="toydata/anscombe.csv")

(44, 3)

  dataset     x     y
0       I  10.0  8.04
1       I   8.0  6.95
2       I  13.0  7.58
3       I   9.0  8.81
4       I  11.0  8.33

In [17]:
df = examine_file(file="toydata/attention.csv")

(60, 5)

   Unnamed: 0  subject attention  solutions  score
0           0        1   divided          1    2.0
1           1        2   divided          1    3.0
2           2        3   divided          1    3.0
3           3        4   divided          1    5.0
4           4        5   divided          1    4.0

In [18]:
df = examine_file(file="toydata/brain_networks.csv")

(923, 63)

  network                  1                1.1                   2  \
0    node                  1                  1                   1
1    hemi                 lh                 rh                  lh
2     NaN                NaN                NaN                 NaN
3       0  56.05574417114258  92.03103637695312   3.391575574874878
4       1   55.5472526550293   43.6900749206543  -65.49598693847656

                   2.1                   3                 3.1  \
0                    1                   1                   1
1                   rh                  lh                  rh
2                  NaN                 NaN                 NaN
3    38.65968322753906  26.203819274902344  -49.71556854248047
4  -13.974522590637207  -28.27496337890625  -39.05012893676758

                     4                  4.1                    5  ...  \
0                    1                    1                    1  ...
1                   lh                   rh                   lh  ...
2                  NaN                  NaN                  NaN  ...
3     47.4610366821289   26.746612548828125  -35.898860931396484  ...
4  -1.2106596231460571  -19.012897491455078   19.568010330200195  ...

                 16.5                16.6                16.7  \
0                   3                   4                   4
1                  rh                  lh                  rh
2                 NaN                 NaN                 NaN
3  0.6079040169715881  -70.27054595947266   77.36577606201172
4   57.49507141113281  -76.39321899414062  127.26136016845705

                    17                17.1                 17.2  \
0                    1                   1                    2
1                   lh                  rh                   lh
2                  NaN                 NaN                  NaN
3   -21.73455047607422  1.0282527208328247   7.7917842864990225
4  -13.035799026489258    46.3818244934082  -15.752449989318848

                17.3                 17.4                17.5  \
0                  2                    3                   3
1                 rh                   lh                  rh
2                NaN                  NaN                 NaN
3  68.90372467041016  -10.520872116088867  120.49046325683594
4  31.00033187866211  -39.607521057128906   24.76401138305664

                  17.6
0                    4
1                   lh
2                  NaN
3  -39.686431884765625
4    -36.7710075378418

[5 rows x 63 columns]

In [19]:
df = examine_file(file="toydata/car_crashes.csv")

(51, 8)

   total  speeding  alcohol  not_distracted  no_previous  ins_premium  \
0   18.8     7.332    5.640          18.048       15.040       784.55
1   18.1     7.421    4.525          16.290       17.014      1053.48
2   18.6     6.510    5.208          15.624       17.856       899.47
3   22.4     4.032    5.824          21.056       21.280       827.34
4   12.0     4.200    3.360          10.920       10.680       878.41

   ins_losses abbrev
0      145.08     AL
1      133.93     AK
2      110.35     AZ
3      142.39     AR
4      165.63     CA

In [20]:
df = examine_file(file="toydata/diabetes.csv")

(442, 11)

        age       sex       bmi        bp        s1        s2        s3  \
0  0.038076  0.050680  0.061696  0.021872 -0.044223 -0.034821 -0.043401
1 -0.001882 -0.044642 -0.051474 -0.026328 -0.008449 -0.019163  0.074412
2  0.085299  0.050680  0.044451 -0.005670 -0.045599 -0.034194 -0.032356
3 -0.089063 -0.044642 -0.011595 -0.036656  0.012191  0.024991 -0.036038
4  0.005383 -0.044642 -0.036385  0.021872  0.003935  0.015596  0.008142

         s4        s5        s6  target
0 -0.002592  0.019907 -0.017646   151.0
1 -0.039493 -0.068332 -0.092204    75.0
2 -0.002592  0.002861 -0.025930   141.0
3  0.034309  0.022688 -0.009362   206.0
4 -0.002592 -0.031988 -0.046641   135.0

In [21]:
df = examine_file(file="toydata/diamonds.csv")

(53940, 10)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [22]:
df = examine_file(file="toydata/dots.csv")

(848, 5)

  align choice  time  coherence  firing_rate
0  dots     T1   -80        0.0    33.189967
1  dots     T1   -80        3.2    31.691726
2  dots     T1   -80        6.4    34.279840
3  dots     T1   -80       12.8    32.631874
4  dots     T1   -80       25.6    35.060487

In [23]:
df = examine_file(file="toydata/exercise.csv")

(90, 6)

   Unnamed: 0  id     diet  pulse    time  kind
0           0   1  low fat     85   1 min  rest
1           1   1  low fat     85  15 min  rest
2           2   1  low fat     88  30 min  rest
3           3   2  low fat     90   1 min  rest
4           4   2  low fat     92  15 min  rest

In [24]:
df = examine_file(file="toydata/flights.csv")

(144, 3)

   year month  passengers
0  1949   Jan         112
1  1949   Feb         118
2  1949   Mar         132
3  1949   Apr         129
4  1949   May         121

In [25]:
df = examine_file(file="toydata/fmri.csv")

(1064, 5)

  subject  timepoint event    region    signal
0     s13         18  stim  parietal -0.017552
1      s5         14  stim  parietal -0.080883
2     s12         18  stim  parietal -0.081033
3     s11         18  stim  parietal -0.046134
4     s10         18  stim  parietal -0.037970

In [26]:
df = examine_file(file="toydata/gammas.csv")

(6000, 4)

   timepoint  ROI  subject  BOLD signal
0        0.0  IPS        0     0.513433
1        0.0  IPS        1    -0.414368
2        0.0  IPS        2     0.214695
3        0.0  IPS        3     0.814809
4        0.0  IPS        4    -0.894992

In [27]:
df = examine_file(file="toydata/geyser.csv")

(272, 3)

   duration  waiting   kind
0     3.600       79   long
1     1.800       54  short
2     3.333       74   long
3     2.283       62  short
4     4.533       85   long

In [28]:
df = examine_file(file="toydata/iris.csv")

(150, 5)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

   target
0       0
1       0
2       0
3       0
4       0

In [29]:
df = examine_file(file="toydata/mpg.csv")

(398, 9)

    mpg  cylinders  displacement  horsepower  weight  acceleration  \
0  18.0          8         307.0       130.0    3504          12.0
1  15.0          8         350.0       165.0    3693          11.5
2  18.0          8         318.0       150.0    3436          11.0
3  16.0          8         304.0       150.0    3433          12.0
4  17.0          8         302.0       140.0    3449          10.5

   model_year origin                       name
0          70    usa  chevrolet chevelle malibu
1          70    usa          buick skylark 320
2          70    usa         plymouth satellite
3          70    usa              amc rebel sst
4          70    usa                ford torino

In [30]:
df = examine_file(file="toydata/penguins.csv")

(344, 7)

  species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0  Adelie  Torgersen            39.1           18.7              181.0
1  Adelie  Torgersen            39.5           17.4              186.0
2  Adelie  Torgersen            40.3           18.0              195.0
3  Adelie  Torgersen             NaN            NaN                NaN
4  Adelie  Torgersen            36.7           19.3              193.0

   body_mass_g     sex
0       3750.0    Male
1       3800.0  Female
2       3250.0  Female
3          NaN     NaN
4       3450.0  Female

In [31]:
df = examine_file(file="toydata/planets.csv")

(1035, 6)

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [32]:
df = examine_file(file="toydata/taxis.csv")

(6433, 14)

                pickup              dropoff  passengers  distance  fare   tip  \
0  2019-03-23 20:21:09  2019-03-23 20:27:24           1      1.60   7.0  2.15
1  2019-03-04 16:11:55  2019-03-04 16:19:00           1      0.79   5.0  0.00
2  2019-03-27 17:53:01  2019-03-27 18:00:25           1      1.37   7.5  2.36
3  2019-03-10 01:23:59  2019-03-10 01:49:51           1      7.70  27.0  6.15
4  2019-03-30 13:27:42  2019-03-30 13:37:14           3      2.16   9.0  1.10

   tolls  total   color      payment            pickup_zone  \
0    0.0  12.95  yellow  credit card        Lenox Hill West
1    0.0   9.30  yellow         cash  Upper West Side South
2    0.0  14.16  yellow  credit card          Alphabet City
3    0.0  36.95  yellow  credit card              Hudson Sq
4    0.0  13.40  yellow  credit card           Midtown East

            dropoff_zone pickup_borough dropoff_borough
0    UN/Turtle Bay South      Manhattan       Manhattan
1  Upper West Side South      Manhattan       Manhattan
2           West Village      Manhattan       Manhattan
3         Yorkville West      Manhattan       Manhattan
4         Yorkville West      Manhattan       Manhattan

In [33]:
df = examine_file(file="toydata/tips.csv")

(244, 7)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [34]:
df = examine_file(file="toydata/titanic.csv")

(891, 15)

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

In [35]:
df = examine_file(file="toydata/wine.csv")

(178, 14)

   alcohol  malic_acid   ash  alcalinity_of_ash  magnesium  total_phenols  \
0    14.23        1.71  2.43               15.6      127.0           2.80
1    13.20        1.78  2.14               11.2      100.0           2.65
2    13.16        2.36  2.67               18.6      101.0           2.80
3    14.37        1.95  2.50               16.8      113.0           3.85
4    13.24        2.59  2.87               21.0      118.0           2.80

   flavanoids  nonflavanoid_phenols  proanthocyanins  color_intensity   hue  \
0        3.06                  0.28             2.29             5.64  1.04
1        2.76                  0.26             1.28             4.38  1.05
2        3.24                  0.30             2.81             5.68  1.03
3        3.49                  0.24             2.18             7.80  0.86
4        2.69                  0.39             1.82             4.32  1.04

   od280/od315_of_diluted_wines  proline  target
0                          3.92   1065.0       0
1                          3.40   1050.0       0
2                          3.17   1185.0       0
3                          3.45   1480.0       0
4                          2.93    735.0       0