In [1]:
import pandas as pd
import numpy as np

### usual case

In [4]:
df = pd.read_csv(
    "clean_csv.csv",
)
df

  Code Name  Units
0    A    A     13
1    Z    Z     15

### read only part of csv

In [5]:
# examine the first few lines of the raw csv file
with open('messy_csv.csv', 'r') as f:
    for i in range(10):
        print(f"{i}: {f.readline()}", end='')

0: Report Start Date,01/07/2023
1: Report End Date,11/03/2024
2: Report Creation Date,11/03/2024 16:05:22
3:
4: asdf
5:
6: 11, sadf, sadf
7:
8: 0
9: "Code","Name","Units"

In [6]:
df = pd.read_csv(
    "messy_csv.csv",
    header=6,
    skipfooter=1,
    skip_blank_lines=True,
    engine="python",
)
df

  Code Name  Units
0    A    A     13
1    Z    Z     15

### inline csv form/to df

In [15]:
import pandas as pd
from io import StringIO

the_string = '''
Code,Name,Units
A,A,13
Z,Z,15
'''
df = pd.read_csv(StringIO(the_string))
df

  Code Name  Units
0    A    A     13
1    Z    Z     15

In [17]:
df_string = df.to_csv(index=False)
df_string.replace('\r\n', '\n')
print(df_string)

Code,Name,Units
A,A,13
Z,Z,15

In [ ]:
print(df.to_csv(index=False).replace('\r\n', '\n'))

Code,Name,Units
A,A,13
Z,Z,15

### read complex excel

In [ ]:
# read complex Excel file
# skip the first 10 rows, read the next 5 rows, and use the columns from 'B' to 'D'
df = pd.read_excel(
    r"excel_table.xlsx",
    sheet_name="Sheet1",
    skiprows=range(1, 2),
    nrows=5,
    usecols="B:D",
)
df