In [1]:
import matplotlib.pyplot as plt
import matplotlib as mpl
import numpy as np
import pandas as pd
import statsmodels.api as sm
from scipy import stats

In [2]:
import sqlalchemy as alc
import pandas as pd
import os


# add run method to engine
def run(self: alc.engine.Engine, sql: str) -> pd.DataFrame | None:
    with self.begin() as conn:
        res = conn.execute(alc.text(sql))
        if res.returns_rows:
            return pd.DataFrame(res.all(), columns=res.keys())


alc.engine.Engine.run = run

connection_string = "postgresql://test_db_user:1234@localhost/test_db"
# eng = alc.create_engine(connection_string, echo=True)
eng = alc.create_engine(connection_string)

### specs

In [3]:
df = pd.read_csv("taxis.csv")
df['pk'] = df.index
df['pickup'] = pd.to_datetime(df['pickup'])
df['pickup_dates'] = df['pickup'].dt.date
df['dropoff'] = pd.to_datetime(df['dropoff'])
df['passenger_is_1'] = df['passengers'] == 1
df.head()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough,pk,pickup_dates,passenger_is_1
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan,0,2019-03-23,True
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan,1,2019-03-04,True
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan,2,2019-03-27,True
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan,3,2019-03-10,True
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan,4,2019-03-30,False

### test

In [4]:
from pg_inserter import PgInserter

try:
    eng.run("drop table test_schema.taxi")
except Exception as e:
    print(f"Table does not exist.")

qry = f"""
CREATE TABLE test_schema.taxi (
    pk BIGINT PRIMARY KEY,
	pickup TIMESTAMP WITHOUT TIME ZONE, 
	dropoff TIMESTAMP WITHOUT TIME ZONE, 
	passengers BIGINT, 
	distance FLOAT(53), 
	fare FLOAT(53), 
	tip FLOAT(53), 
	tolls FLOAT(53), 
	total FLOAT(53), 
	color TEXT, 
	payment TEXT, 
	pickup_zone TEXT, 
	dropoff_zone TEXT, 
	pickup_borough TEXT, 
	dropoff_borough TEXT, 
	pickup_dates DATE, 
	passenger_is_1 BOOLEAN
)
"""
eng.run(qry)

pi = PgInserter(eng, "test_schema.taxi", ["pk"])
pi.insert_non_duplicates(df=df.query(f"pk <= 1000"))
pi.insert_non_duplicates(df=df.query(f"pk > 950"), potential_dups_condition="pk > 700")

In [5]:
qry = f"""
select
    *
from test_schema.taxi
"""

df = eng.run(qry)
assert len(df['pk'].unique()) == df.shape[0]

### funcs

In [7]:
def _parse_schema_table_name(sch_tbl_name:str) -> tuple[str, str]:
    """
    Examples::

    """
    try:
        clean = sch_tbl_name.lower()
        items = clean.split(".")
    except AttributeError:
        schema_name = None
        table_name = None
    else:
        n = len(items)
        if n == 1:
            schema_name = None
            table_name = items[0]
        elif n == 2:
            schema_name = items[0]
            table_name = items[1]
        else:
            schema_name = items[0]
            table_name = ".".join(items[1:n])
    return schema_name, table_name

print(f"{_parse_schema_table_name('ab') = }")
print(f"{_parse_schema_table_name('Ab') = }")
print(f"{_parse_schema_table_name('ab.ab') = }")
print(f"{_parse_schema_table_name('Ab.Ab') = }")
print(f"{_parse_schema_table_name('Ab.Ab.Ab') = }")
print(f"{_parse_schema_table_name('') = }")
print(f"{_parse_schema_table_name(None) = }")
print(f"{_parse_schema_table_name(3) = }")

_parse_schema_table_name('ab') = (None, 'ab')
_parse_schema_table_name('Ab') = (None, 'ab')
_parse_schema_table_name('ab.ab') = ('ab', 'ab')
_parse_schema_table_name('Ab.Ab') = ('ab', 'ab')
_parse_schema_table_name('Ab.Ab.Ab') = ('ab', 'ab.ab')
_parse_schema_table_name('') = (None, '')
_parse_schema_table_name(None) = (None, None)
_parse_schema_table_name(3) = (None, None)

In [74]:
def _guess_pg_dtype(dtype: type) -> type:
    if dtype is None:
        raise ValueError(f"Invalid dtype: {dtype}")
    elif np.issubdtype(dtype, np.int64):
        return alc.dialects.postgresql.BIGINT
    elif np.issubdtype(dtype, np.bool_):
        return alc.dialects.postgresql.BOOLEAN
    elif np.issubdtype(dtype, np.float64):
        return alc.Float(8)
    elif np.issubdtype(dtype, np.int64):
        return alc.Integer
    elif np.issubdtype(dtype, np.float64):
        return alc.Float
    elif np.issubdtype(dtype, np.datetime64):
        return alc.DateTime
    else:
        return alc.String

lst = []
for col in df.columns:
    dtype = df[col].dtype
    pg_dtype = _guess_pg_dtype(dtype)
    lst.append((col, dtype, pg_dtype))

print(pd.DataFrame(lst, columns=["Column", "Pandas Dtype", "PostgreSQL Dtype"]).to_string())

             Column    Pandas Dtype                            PostgreSQL Dtype
0            pickup  datetime64[ns]  <class 'sqlalchemy.sql.sqltypes.DateTime'>
1           dropoff  datetime64[ns]  <class 'sqlalchemy.sql.sqltypes.DateTime'>
2        passengers           int64    <class 'sqlalchemy.sql.sqltypes.BIGINT'>
3          distance         float64                                       FLOAT
4              fare         float64                                       FLOAT
5               tip         float64                                       FLOAT
6             tolls         float64                                       FLOAT
7             total         float64                                       FLOAT
8             color          object    <class 'sqlalchemy.sql.sqltypes.String'>
9           payment          object    <class 'sqlalchemy.sql.sqltypes.String'>
10      pickup_zone          object    <class 'sqlalchemy.sql.sqltypes.String'>
11     dropoff_zone          object    <class 'sqlalchemy.sql.sqltypes.String'>
12   pickup_borough          object    <class 'sqlalchemy.sql.sqltypes.String'>
13  dropoff_borough          object    <class 'sqlalchemy.sql.sqltypes.String'>
14     pickup_dates          object    <class 'sqlalchemy.sql.sqltypes.String'>
15   passenger_is_1            bool   <class 'sqlalchemy.sql.sqltypes.BOOLEAN'>

### creation and insertion

In [6]:
qry = f"""
select table_catalog,table_schema,table_name
    ,is_insertable_into,commit_action
from information_schema.tables
where table_schema
   not in ('information_schema','pg_catalog')
"""

df = eng.run(qry)
df

,table_catalog,table_schema,table_name,is_insertable_into,commit_action
0,test_db,public,test_schema.taxi,YES,None
1,test_db,test_schema,taxi,YES,None

In [7]:
eng.run("create schema test_schema")

In [105]:
# drop table
tbl.drop(eng)

2025-08-09 19:20:18,136 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2025-08-09 19:20:18,136 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-08-09 19:20:18,137 INFO sqlalchemy.engine.Engine select current_schema()
2025-08-09 19:20:18,137 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-08-09 19:20:18,139 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2025-08-09 19:20:18,140 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-08-09 19:20:18,141 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-09 19:20:18,142 INFO sqlalchemy.engine.Engine
DROP TABLE test_schema.taxi
2025-08-09 19:20:18,142 INFO sqlalchemy.engine.Engine [no key 0.00045s] {}
2025-08-09 19:20:18,145 INFO sqlalchemy.engine.Engine COMMIT

In [88]:
# create table
df2:pd.DataFrame = df.copy()
schema_table_name = "test_schema.taxi"
eng = eng

for col in df2.columns:
    assert col.islower() and '.' not in col, f"Clean up col names: '{col}'. Need lower case and no '.'"

schema_name, table_name = _parse_schema_table_name(schema_table_name)
meta = alc.MetaData(schema=schema_name)

tbl = alc.Table(
    table_name,
    meta,
    *[alc.Column(col, _guess_pg_dtype(df2[col].dtype)) for col in df2.columns],
    schema=schema_name,
)

tbl.create(eng)

In [89]:
for col in df2.columns:
    if np.issubdtype(df2[col].dtype, np.datetime64) or np.issubdtype(
        df2[col].dtype, np.float64
    ):
        df2[col] = df2[col].astype(object).where(~df2[col].isna(), None)

df2_dict = df2.to_dict("records")
with eng.begin() as conn:
    conn.execute(
        tbl.insert(),
        df2_dict,
    )

In [90]:
eng.run("select count(*) as n from test_schema.taxi").iloc[0,0]

np.int64(6433)

In [107]:
_ = eng.run("select * from test_schema.taxi limit 5")
print(f"{_.dtypes = }")
print(_.head().to_string())

2025-08-09 19:22:45,055 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-09 19:22:45,056 INFO sqlalchemy.engine.Engine select * from test_schema.taxi limit 5
2025-08-09 19:22:45,057 INFO sqlalchemy.engine.Engine [generated in 0.00087s] {}
2025-08-09 19:22:45,061 INFO sqlalchemy.engine.Engine COMMIT
_.dtypes = pickup             datetime64[ns]
dropoff            datetime64[ns]
passengers                  int64
distance                  float64
fare                      float64
tip                       float64
tolls                     float64
total                     float64
color                      object
payment                    object
pickup_zone                object
dropoff_zone               object
pickup_borough             object
dropoff_borough            object
pickup_dates               object
passenger_is_1               bool
dtype: object
               pickup             dropoff  passengers  distance  fare   tip  tolls  total   color      payment            pickup_zone           dropoff_zone pickup_borough dropoff_borough pickup_dates  passenger_is_1
0 2019-03-23 20:21:09 2019-03-23 20:27:24           1      1.60   7.0  2.15    0.0  12.95  yellow  credit card        Lenox Hill West    UN/Turtle Bay South      Manhattan       Manhattan   2019-03-23            True
1 2019-03-04 16:11:55 2019-03-04 16:19:00           1      0.79   5.0  0.00    0.0   9.30  yellow         cash  Upper West Side South  Upper West Side South      Manhattan       Manhattan   2019-03-04            True
2 2019-03-27 17:53:01 2019-03-27 18:00:25           1      1.37   7.5  2.36    0.0  14.16  yellow  credit card          Alphabet City           West Village      Manhattan       Manhattan   2019-03-27            True
3 2019-03-10 01:23:59 2019-03-10 01:49:51           1      7.70  27.0  6.15    0.0  36.95  yellow  credit card              Hudson Sq         Yorkville West      Manhattan       Manhattan   2019-03-10            True
4 2019-03-30 13:27:42 2019-03-30 13:37:14           3      2.16   9.0  1.10    0.0  13.40  yellow  credit card           Midtown East         Yorkville West      Manhattan       Manhattan   2019-03-30           False

In [108]:
_['pickup_dates'].iloc[0]

datetime.date(2019, 3, 23)

### pd to sql

In [106]:
df3:pd.DataFrame = df.copy()
df3.to_sql("taxi", con=eng, schema="test_schema", if_exists="replace", index=False)

2025-08-09 19:21:06,496 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-09 19:21:06,503 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_namespace.nspname = %(nspname_1)s
2025-08-09 19:21:06,503 INFO sqlalchemy.engine.Engine [generated in 0.00115s] {'table_name': 'taxi', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'test_schema'}
2025-08-09 19:21:06,512 INFO sqlalchemy.engine.Engine
CREATE TABLE test_schema.taxi (
	pickup TIMESTAMP WITHOUT TIME ZONE,
	dropoff TIMESTAMP WITHOUT TIME ZONE,
	passengers BIGINT,
	distance FLOAT(53),
	fare FLOAT(53),
	tip FLOAT(53),
	tolls FLOAT(53),
	total FLOAT(53),
	color TEXT,
	payment TEXT,
	pickup_zone TEXT,
	dropoff_zone TEXT,
	pickup_borough TEXT,
	dropoff_borough TEXT,
	pickup_dates DATE,
	passenger_is_1 BOOLEAN
)


2025-08-09 19:21:06,514 INFO sqlalchemy.engine.Engine [no key 0.00162s] {}
2025-08-09 19:21:06,589 INFO sqlalchemy.engine.Engine INSERT INTO test_schema.taxi (pickup, dropoff, passengers, distance, fare, tip, tolls, total, color, payment, pickup_zone, dropoff_zone, pickup_borough, dropoff_borough, pickup_dates, passenger_is_1) VALUES (%(pickup__0)s, %(dropoff__0)s, %(passenger ... 314095 characters truncated ... , %(pickup_borough__999)s, %(dropoff_borough__999)s, %(pickup_dates__999)s, %(passenger_is_1__999)s)
2025-08-09 19:21:06,590 INFO sqlalchemy.engine.Engine [generated in 0.03463s (insertmanyvalues) 1/7 (unordered)] {'payment__0': 'credit card', 'dropoff_zone__0': 'UN/Turtle Bay South', 'dropoff_borough__0': 'Manhattan', 'passengers__0': 1, 'tolls__0': 0.0, 'dropoff__0': datetime.datetime(2019, 3, 23, 20, 27, 24), 'pickup__0': datetime.datetime(2019, 3, 23, 20, 21, 9), 'passenger_is_1__0': True, 'color__0': 'yellow', 'pickup_borough__0': 'Manhattan', 'total__0': 12.95, 'tip__0': 2.15, 'distance__0': 1.6, 'pickup_dates__0': datetime.date(2019, 3, 23), 'pickup_zone__0': 'Lenox Hill West', 'fare__0': 7.0, 'payment__1': 'cash', 'dropoff_zone__1': 'Upper West Side South', 'dropoff_borough__1': 'Manhattan', 'passengers__1': 1, 'tolls__1': 0.0, 'dropoff__1': datetime.datetime(2019, 3, 4, 16, 19), 'pickup__1': datetime.datetime(2019, 3, 4, 16, 11, 55), 'passenger_is_1__1': True, 'color__1': 'yellow', 'pickup_borough__1': 'Manhattan', 'total__1': 9.3, 'tip__1': 0.0, 'distance__1': 0.79, 'pickup_dates__1': datetime.date(2019, 3, 4), 'pickup_zone__1': 'Upper West Side South', 'fare__1': 5.0, 'payment__2': 'credit card', 'dropoff_zone__2': 'West Village', 'dropoff_borough__2': 'Manhattan', 'passengers__2': 1, 'tolls__2': 0.0, 'dropoff__2': datetime.datetime(2019, 3, 27, 18, 0, 25), 'pickup__2': datetime.datetime(2019, 3, 27, 17, 53, 1), 'passenger_is_1__2': True, 'color__2': 'yellow', 'pickup_borough__2': 'Manhattan', 'total__2': 14.16, 'tip__2': 2.36, 'distance__2': 1.37, 'pickup_dates__2': datetime.date(2019, 3, 27), 'pickup_zone__2': 'Alphabet City', 'fare__2': 7.5, 'payment__3': 'credit card', 'dropoff_zone__3': 'Yorkville West' ... 15900 parameters truncated ... 'pickup_zone__996': 'LaGuardia Airport', 'fare__996': 27.0, 'payment__997': 'credit card', 'dropoff_zone__997': 'Lincoln Square East', 'dropoff_borough__997': 'Manhattan', 'passengers__997': 1, 'tolls__997': 0.0, 'dropoff__997': datetime.datetime(2019, 3, 15, 15, 48, 39), 'pickup__997': datetime.datetime(2019, 3, 15, 15, 44, 24), 'passenger_is_1__997': True, 'color__997': 'yellow', 'pickup_borough__997': 'Manhattan', 'total__997': 9.3, 'tip__997': 1.0, 'distance__997': 0.86, 'pickup_dates__997': datetime.date(2019, 3, 15), 'pickup_zone__997': 'Upper West Side South', 'fare__997': 5.0, 'payment__998': 'credit card', 'dropoff_zone__998': 'Central Harlem North', 'dropoff_borough__998': 'Manhattan', 'passengers__998': 1, 'tolls__998': 0.0, 'dropoff__998': datetime.datetime(2019, 3, 27, 22, 40, 25), 'pickup__998': datetime.datetime(2019, 3, 27, 22, 24, 45), 'passenger_is_1__998': True, 'color__998': 'yellow', 'pickup_borough__998': 'Manhattan', 'total__998': 24.36, 'tip__998': 4.06, 'distance__998': 5.15, 'pickup_dates__998': datetime.date(2019, 3, 27), 'pickup_zone__998': 'Midtown Center', 'fare__998': 16.5, 'payment__999': 'credit card', 'dropoff_zone__999': 'Lenox Hill East', 'dropoff_borough__999': 'Manhattan', 'passengers__999': 1, 'tolls__999': 0.0, 'dropoff__999': datetime.datetime(2019, 3, 2, 19, 23, 4), 'pickup__999': datetime.datetime(2019, 3, 2, 19, 16, 15), 'passenger_is_1__999': True, 'color__999': 'yellow', 'pickup_borough__999': 'Manhattan', 'total__999': 10.8, 'tip__999': 1.0, 'distance__999': 1.02, 'pickup_dates__999': datetime.date(2019, 3, 2), 'pickup_zone__999': 'Sutton Place/Turtle Bay North', 'fare__999': 6.5}
2025-08-09 19:21:06,667 INFO sqlalchemy.engine.Engine INSERT INTO test_schema.taxi (pickup, dropoff, passengers, distance, fare, tip, tolls, total, color, payment, pickup_zone, dropoff_zone, pickup_borough, dropoff_borough, pickup_dates, passenger_is_1) VALUES (%(pickup__0)s, %(dropoff__0)s, %(passenger ... 314095 characters truncated ... , %(pickup_borough__999)s, %(dropoff_borough__999)s, %(pickup_dates__999)s, %(passenger_is_1__999)s)
2025-08-09 19:21:06,668 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/7 (unordered)] {'payment__0': 'credit card', 'dropoff_zone__0': 'Midtown East', 'dropoff_borough__0': 'Manhattan', 'passengers__0': 1, 'tolls__0': 0.0, 'dropoff__0': datetime.datetime(2019, 3, 1, 1, 29, 25), 'pickup__0': datetime.datetime(2019, 3, 1, 1, 25, 30), 'passenger_is_1__0': True, 'color__0': 'yellow', 'pickup_borough__0': 'Manhattan', 'total__0': 10.56, 'tip__0': 1.76, 'distance__0': 1.0, 'pickup_dates__0': datetime.date(2019, 3, 1), 'pickup_zone__0': 'Murray Hill', 'fare__0': 5.0, 'payment__1': 'credit card', 'dropoff_zone__1': 'Murray Hill', 'dropoff_borough__1': 'Manhattan', 'passengers__1': 1, 'tolls__1': 0.0, 'dropoff__1': datetime.datetime(2019, 3, 26, 19, 19, 3), 'pickup__1': datetime.datetime(2019, 3, 26, 19, 10, 53), 'passenger_is_1__1': True, 'color__1': 'yellow', 'pickup_borough__1': 'Manhattan', 'total__1': 13.0, 'tip__1': 1.7, 'distance__1': 1.26, 'pickup_dates__1': datetime.date(2019, 3, 26), 'pickup_zone__1': 'Sutton Place/Turtle Bay North', 'fare__1': 7.0, 'payment__2': 'credit card', 'dropoff_zone__2': 'Yorkville East', 'dropoff_borough__2': 'Manhattan', 'passengers__2': 2, 'tolls__2': 0.0, 'dropoff__2': datetime.datetime(2019, 3, 1, 19, 9, 28), 'pickup__2': datetime.datetime(2019, 3, 1, 18, 49, 26), 'passenger_is_1__2': False, 'color__2': 'yellow', 'pickup_borough__2': 'Manhattan', 'total__2': 25.56, 'tip__2': 4.26, 'distance__2': 4.16, 'pickup_dates__2': datetime.date(2019, 3, 1), 'pickup_zone__2': 'West Chelsea/Hudson Yards', 'fare__2': 17.0, 'payment__3': 'credit card', 'dropoff_zone__3': 'Upper East Side North' ... 15900 parameters truncated ... 'pickup_zone__996': 'Battery Park City', 'fare__996': 6.5, 'payment__997': 'cash', 'dropoff_zone__997': 'East Harlem North', 'dropoff_borough__997': 'Manhattan', 'passengers__997': 0, 'tolls__997': 0.0, 'dropoff__997': datetime.datetime(2019, 3, 30, 23, 13, 55), 'pickup__997': datetime.datetime(2019, 3, 30, 23, 10, 19), 'passenger_is_1__997': False, 'color__997': 'yellow', 'pickup_borough__997': 'Manhattan', 'total__997': 9.3, 'tip__997': 0.0, 'distance__997': 1.2, 'pickup_dates__997': datetime.date(2019, 3, 30), 'pickup_zone__997': 'Yorkville East', 'fare__997': 5.5, 'payment__998': 'cash', 'dropoff_zone__998': 'West Concourse', 'dropoff_borough__998': 'Bronx', 'passengers__998': 3, 'tolls__998': 0.0, 'dropoff__998': datetime.datetime(2019, 3, 4, 14, 8, 23), 'pickup__998': datetime.datetime(2019, 3, 4, 13, 59, 55), 'passenger_is_1__998': False, 'color__998': 'yellow', 'pickup_borough__998': 'Bronx', 'total__998': 9.3, 'tip__998': 0.0, 'distance__998': 1.6, 'pickup_dates__998': datetime.date(2019, 3, 4), 'pickup_zone__998': 'East Concourse/Concourse Village', 'fare__998': 8.5, 'payment__999': 'credit card', 'dropoff_zone__999': 'Flatiron', 'dropoff_borough__999': 'Manhattan', 'passengers__999': 1, 'tolls__999': 0.0, 'dropoff__999': datetime.datetime(2019, 3, 7, 15, 45, 45), 'pickup__999': datetime.datetime(2019, 3, 7, 15, 37, 1), 'passenger_is_1__999': True, 'color__999': 'yellow', 'pickup_borough__999': 'Manhattan', 'total__999': 13.39, 'tip__999': 3.09, 'distance__999': 0.95, 'pickup_dates__999': datetime.date(2019, 3, 7), 'pickup_zone__999': 'East Chelsea', 'fare__999': 7.0}
2025-08-09 19:21:06,730 INFO sqlalchemy.engine.Engine INSERT INTO test_schema.taxi (pickup, dropoff, passengers, distance, fare, tip, tolls, total, color, payment, pickup_zone, dropoff_zone, pickup_borough, dropoff_borough, pickup_dates, passenger_is_1) VALUES (%(pickup__0)s, %(dropoff__0)s, %(passenger ... 314095 characters truncated ... , %(pickup_borough__999)s, %(dropoff_borough__999)s, %(pickup_dates__999)s, %(passenger_is_1__999)s)
2025-08-09 19:21:06,731 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/7 (unordered)] {'payment__0': 'credit card', 'dropoff_zone__0': 'Clinton East', 'dropoff_borough__0': 'Manhattan', 'passengers__0': 1, 'tolls__0': 0.0, 'dropoff__0': datetime.datetime(2019, 3, 23, 15, 51, 34), 'pickup__0': datetime.datetime(2019, 3, 23, 15, 42, 40), 'passenger_is_1__0': True, 'color__0': 'yellow', 'pickup_borough__0': 'Manhattan', 'total__0': 12.3, 'tip__0': 1.5, 'distance__0': 1.0, 'pickup_dates__0': datetime.date(2019, 3, 23), 'pickup_zone__0': 'Times Sq/Theatre District', 'fare__0': 7.5, 'payment__1': 'cash', 'dropoff_zone__1': 'East Village', 'dropoff_borough__1': 'Manhattan', 'passengers__1': 5, 'tolls__1': 0.0, 'dropoff__1': datetime.datetime(2019, 3, 14, 21, 16, 51), 'pickup__1': datetime.datetime(2019, 3, 14, 21, 7, 51), 'passenger_is_1__1': False, 'color__1': 'yellow', 'pickup_borough__1': 'Manhattan', 'total__1': 11.3, 'tip__1': 0.0, 'distance__1': 1.21, 'pickup_dates__1': datetime.date(2019, 3, 14), 'pickup_zone__1': 'Gramercy', 'fare__1': 7.5, 'payment__2': 'credit card', 'dropoff_zone__2': 'Penn Station/Madison Sq West', 'dropoff_borough__2': 'Manhattan', 'passengers__2': 1, 'tolls__2': 0.0, 'dropoff__2': datetime.datetime(2019, 3, 28, 20, 43, 28), 'pickup__2': datetime.datetime(2019, 3, 28, 20, 34, 26), 'passenger_is_1__2': True, 'color__2': 'yellow', 'pickup_borough__2': 'Manhattan', 'total__2': 13.56, 'tip__2': 2.26, 'distance__2': 1.1, 'pickup_dates__2': datetime.date(2019, 3, 28), 'pickup_zone__2': 'Midtown Center', 'fare__2': 7.5, 'payment__3': 'credit card', 'dropoff_zone__3': 'Penn Station/Madison Sq West' ... 15900 parameters truncated ... 'pickup_zone__996': 'Bloomingdale', 'fare__996': 9.5, 'payment__997': 'credit card', 'dropoff_zone__997': 'Lenox Hill West', 'dropoff_borough__997': 'Manhattan', 'passengers__997': 5, 'tolls__997': 0.0, 'dropoff__997': datetime.datetime(2019, 3, 12, 14, 17, 1), 'pickup__997': datetime.datetime(2019, 3, 12, 14, 8, 17), 'passenger_is_1__997': False, 'color__997': 'yellow', 'pickup_borough__997': 'Manhattan', 'total__997': 11.8, 'tip__997': 1.0, 'distance__997': 1.35, 'pickup_dates__997': datetime.date(2019, 3, 12), 'pickup_zone__997': 'Yorkville West', 'fare__997': 7.5, 'payment__998': 'cash', 'dropoff_zone__998': 'Williamsburg (South Side)', 'dropoff_borough__998': 'Brooklyn', 'passengers__998': 0, 'tolls__998': 0.0, 'dropoff__998': datetime.datetime(2019, 3, 2, 0, 30, 11), 'pickup__998': datetime.datetime(2019, 3, 2, 0, 11, 37), 'passenger_is_1__998': False, 'color__998': 'yellow', 'pickup_borough__998': 'Manhattan', 'total__998': 18.3, 'tip__998': 0.0, 'distance__998': 2.8, 'pickup_dates__998': datetime.date(2019, 3, 2), 'pickup_zone__998': 'Lower East Side', 'fare__998': 14.5, 'payment__999': 'credit card', 'dropoff_zone__999': 'Yorkville East', 'dropoff_borough__999': 'Manhattan', 'passengers__999': 2, 'tolls__999': 0.0, 'dropoff__999': datetime.datetime(2019, 3, 29, 13, 21, 43), 'pickup__999': datetime.datetime(2019, 3, 29, 13, 13, 47), 'passenger_is_1__999': False, 'color__999': 'yellow', 'pickup_borough__999': 'Manhattan', 'total__999': 12.36, 'tip__999': 2.06, 'distance__999': 0.97, 'pickup_dates__999': datetime.date(2019, 3, 29), 'pickup_zone__999': 'Upper East Side North', 'fare__999': 7.0}
2025-08-09 19:21:06,781 INFO sqlalchemy.engine.Engine INSERT INTO test_schema.taxi (pickup, dropoff, passengers, distance, fare, tip, tolls, total, color, payment, pickup_zone, dropoff_zone, pickup_borough, dropoff_borough, pickup_dates, passenger_is_1) VALUES (%(pickup__0)s, %(dropoff__0)s, %(passenger ... 314095 characters truncated ... , %(pickup_borough__999)s, %(dropoff_borough__999)s, %(pickup_dates__999)s, %(passenger_is_1__999)s)
2025-08-09 19:21:06,782 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/7 (unordered)] {'payment__0': 'credit card', 'dropoff_zone__0': 'Stuyvesant Heights', 'dropoff_borough__0': 'Brooklyn', 'passengers__0': 1, 'tolls__0': 0.0, 'dropoff__0': datetime.datetime(2019, 3, 26, 0, 40, 47), 'pickup__0': datetime.datetime(2019, 3, 26, 0, 16, 47), 'passenger_is_1__0': True, 'color__0': 'yellow', 'pickup_borough__0': 'Queens', 'total__0': 34.3, 'tip__0': 3.0, 'distance__0': 9.8, 'pickup_dates__0': datetime.date(2019, 3, 26), 'pickup_zone__0': 'JFK Airport', 'fare__0': 30.0, 'payment__1': 'credit card', 'dropoff_zone__1': 'Clinton West', 'dropoff_borough__1': 'Manhattan', 'passengers__1': 1, 'tolls__1': 0.0, 'dropoff__1': datetime.datetime(2019, 3, 3, 3, 58, 29), 'pickup__1': datetime.datetime(2019, 3, 3, 3, 43, 35), 'passenger_is_1__1': True, 'color__1': 'yellow', 'pickup_borough__1': 'Manhattan', 'total__1': 20.3, 'tip__1': 2.0, 'distance__1': 3.9, 'pickup_dates__1': datetime.date(2019, 3, 3), 'pickup_zone__1': 'East Village', 'fare__1': 14.5, 'payment__2': 'credit card', 'dropoff_zone__2': 'Penn Station/Madison Sq West', 'dropoff_borough__2': 'Manhattan', 'passengers__2': 1, 'tolls__2': 0.0, 'dropoff__2': datetime.datetime(2019, 3, 24, 11, 18, 14), 'pickup__2': datetime.datetime(2019, 3, 24, 11, 2, 28), 'passenger_is_1__2': True, 'color__2': 'yellow', 'pickup_borough__2': 'Manhattan', 'total__2': 15.3, 'tip__2': 1.0, 'distance__2': 1.9, 'pickup_dates__2': datetime.date(2019, 3, 24), 'pickup_zone__2': 'Central Park', 'fare__2': 11.0, 'payment__3': 'credit card', 'dropoff_zone__3': 'Upper East Side North' ... 15900 parameters truncated ... 'pickup_zone__996': 'Washington Heights South', 'fare__996': 4.0, 'payment__997': 'credit card', 'dropoff_zone__997': 'Midtown South', 'dropoff_borough__997': 'Manhattan', 'passengers__997': 1, 'tolls__997': 0.0, 'dropoff__997': datetime.datetime(2019, 3, 2, 15, 56, 16), 'pickup__997': datetime.datetime(2019, 3, 2, 15, 50, 36), 'passenger_is_1__997': True, 'color__997': 'yellow', 'pickup_borough__997': 'Manhattan', 'total__997': 10.7, 'tip__997': 1.4, 'distance__997': 1.2, 'pickup_dates__997': datetime.date(2019, 3, 2), 'pickup_zone__997': 'East Village', 'fare__997': 6.0, 'payment__998': 'credit card', 'dropoff_zone__998': 'Yorkville West', 'dropoff_borough__998': 'Manhattan', 'passengers__998': 1, 'tolls__998': 0.0, 'dropoff__998': datetime.datetime(2019, 3, 29, 20, 0, 55), 'pickup__998': datetime.datetime(2019, 3, 29, 19, 50, 11), 'passenger_is_1__998': True, 'color__998': 'yellow', 'pickup_borough__998': 'Manhattan', 'total__998': 16.8, 'tip__998': 2.5, 'distance__998': 2.11, 'pickup_dates__998': datetime.date(2019, 3, 29), 'pickup_zone__998': 'Lincoln Square East', 'fare__998': 10.0, 'payment__999': 'cash', 'dropoff_zone__999': 'Times Sq/Theatre District', 'dropoff_borough__999': 'Manhattan', 'passengers__999': 1, 'tolls__999': 0.0, 'dropoff__999': datetime.datetime(2019, 3, 15, 12, 8, 38), 'pickup__999': datetime.datetime(2019, 3, 15, 11, 40), 'passenger_is_1__999': True, 'color__999': 'yellow', 'pickup_borough__999': 'Manhattan', 'total__999': 26.8, 'tip__999': 0.0, 'distance__999': 6.08, 'pickup_dates__999': datetime.date(2019, 3, 15), 'pickup_zone__999': 'TriBeCa/Civic Center', 'fare__999': 23.5}
2025-08-09 19:21:06,833 INFO sqlalchemy.engine.Engine INSERT INTO test_schema.taxi (pickup, dropoff, passengers, distance, fare, tip, tolls, total, color, payment, pickup_zone, dropoff_zone, pickup_borough, dropoff_borough, pickup_dates, passenger_is_1) VALUES (%(pickup__0)s, %(dropoff__0)s, %(passenger ... 314095 characters truncated ... , %(pickup_borough__999)s, %(dropoff_borough__999)s, %(pickup_dates__999)s, %(passenger_is_1__999)s)
2025-08-09 19:21:06,834 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/7 (unordered)] {'payment__0': 'credit card', 'dropoff_zone__0': 'Central Park', 'dropoff_borough__0': 'Manhattan', 'passengers__0': 1, 'tolls__0': 0.0, 'dropoff__0': datetime.datetime(2019, 3, 6, 6, 56, 7), 'pickup__0': datetime.datetime(2019, 3, 6, 6, 51, 12), 'passenger_is_1__0': True, 'color__0': 'yellow', 'pickup_borough__0': 'Manhattan', 'total__0': 11.76, 'tip__0': 1.96, 'distance__0': 1.37, 'pickup_dates__0': datetime.date(2019, 3, 6), 'pickup_zone__0': 'Lincoln Square West', 'fare__0': 6.5, 'payment__1': 'credit card', 'dropoff_zone__1': 'Sutton Place/Turtle Bay North', 'dropoff_borough__1': 'Manhattan', 'passengers__1': 3, 'tolls__1': 0.0, 'dropoff__1': datetime.datetime(2019, 3, 1, 14, 29, 31), 'pickup__1': datetime.datetime(2019, 3, 1, 14, 10, 35), 'passenger_is_1__1': False, 'color__1': 'yellow', 'pickup_borough__1': 'Manhattan', 'total__1': 18.17, 'tip__1': 2.37, 'distance__1': 2.2, 'pickup_dates__1': datetime.date(2019, 3, 1), 'pickup_zone__1': 'Penn Station/Madison Sq West', 'fare__1': 12.5, 'payment__2': 'credit card', 'dropoff_zone__2': 'LaGuardia Airport', 'dropoff_borough__2': 'Queens', 'passengers__2': 3, 'tolls__2': 5.76, 'dropoff__2': datetime.datetime(2019, 3, 16, 9, 37, 31), 'pickup__2': datetime.datetime(2019, 3, 16, 8, 55, 35), 'passenger_is_1__2': False, 'color__2': 'yellow', 'pickup_borough__2': 'Manhattan', 'total__2': 54.66, 'tip__2': 9.1, 'distance__2': 10.7, 'pickup_dates__2': datetime.date(2019, 3, 16), 'pickup_zone__2': 'Manhattan Valley', 'fare__2': 39.0, 'payment__3': 'credit card', 'dropoff_zone__3': 'Prospect Park' ... 15900 parameters truncated ... 'pickup_zone__996': 'Jackson Heights', 'fare__996': 35.0, 'payment__997': 'credit card', 'dropoff_zone__997': 'Upper East Side North', 'dropoff_borough__997': 'Manhattan', 'passengers__997': 5, 'tolls__997': 0.0, 'dropoff__997': datetime.datetime(2019, 3, 16, 11, 40, 25), 'pickup__997': datetime.datetime(2019, 3, 16, 11, 4, 35), 'passenger_is_1__997': False, 'color__997': 'yellow', 'pickup_borough__997': 'Manhattan', 'total__997': 32.3, 'tip__997': 3.0, 'distance__997': 6.31, 'pickup_dates__997': datetime.date(2019, 3, 16), 'pickup_zone__997': 'TriBeCa/Civic Center', 'fare__997': 26.0, 'payment__998': 'cash', 'dropoff_zone__998': 'Meatpacking/West Village West', 'dropoff_borough__998': 'Manhattan', 'passengers__998': 1, 'tolls__998': 0.0, 'dropoff__998': datetime.datetime(2019, 3, 10, 11, 22, 21), 'pickup__998': datetime.datetime(2019, 3, 10, 11, 10, 11), 'passenger_is_1__998': True, 'color__998': 'yellow', 'pickup_borough__998': 'Manhattan', 'total__998': 12.3, 'tip__998': 0.0, 'distance__998': 1.8, 'pickup_dates__998': datetime.date(2019, 3, 10), 'pickup_zone__998': 'Midtown South', 'fare__998': 9.0, 'payment__999': 'credit card', 'dropoff_zone__999': 'Carroll Gardens', 'dropoff_borough__999': 'Brooklyn', 'passengers__999': 1, 'tolls__999': 5.76, 'dropoff__999': datetime.datetime(2019, 3, 22, 19, 58, 7), 'pickup__999': datetime.datetime(2019, 3, 22, 19, 45, 40), 'passenger_is_1__999': True, 'color__999': 'yellow', 'pickup_borough__999': 'Manhattan', 'total__999': 28.86, 'tip__999': 4.8, 'distance__999': 3.5, 'pickup_dates__999': datetime.date(2019, 3, 22), 'pickup_zone__999': 'Battery Park City', 'fare__999': 14.0}

433

### check table pk info

In [122]:
eng.run("drop table if exists test_schema.taxi")

In [123]:
df.query(f"pk <= 1000").to_sql("taxi", con=eng, schema="test_schema", if_exists="replace", index=False)
eng.run("select count(*) as n from test_schema.taxi").iloc[0,0]

np.int64(1001)

In [124]:
df2:pd.DataFrame = df.query(f"950 <= pk <= 2000").copy()
pkeys:list = ['pk']
where = f"pk >= 900"
table_name = "test_schema.taxi"

where_cls = f"\nwhere {where}" if where else ""
schema_name, table_name = _parse_schema_table_name(table_name)
db_tbl:pd.DataFrame = eng.run(f"select {','.join(pkeys)} from {schema_name}.{table_name} {where_cls}")

if not db_tbl.empty and not df2.empty:
    dedup_tbl = (
        df2.merge(
            db_tbl, how="left", on=pkeys, validate="one_to_one", indicator=True
        )
        .loc[lambda x: x._merge == "left_only", :]
        .drop(columns="_merge")
    )
else:
    dedup_tbl = df2

dedup_tbl.to_sql(table_name, con=eng, schema=schema_name, if_exists="append", index=False)

1000

In [125]:
eng.run("select count(*) as n from test_schema.taxi").iloc[0,0]

np.int64(2001)