In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### basic

In [2]:
planets = sns.load_dataset("planets")
print(planets.head())
print(planets.shape)

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009
(1035, 6)

In [3]:
planets.dropna().describe()

          number  orbital_period        mass    distance         year
count  498.00000      498.000000  498.000000  498.000000   498.000000
mean     1.73494      835.778671    2.509320   52.068213  2007.377510
std      1.17572     1469.128259    3.636274   46.596041     4.167284
min      1.00000        1.328300    0.003600    1.350000  1989.000000
25%      1.00000       38.272250    0.212500   24.497500  2005.000000
50%      1.00000      357.000000    1.245000   39.940000  2009.000000
75%      2.00000      999.600000    2.867500   59.332500  2011.000000
max      6.00000    17337.500000   25.000000  354.000000  2014.000000

In [4]:
planets["distance"].std()

733.1164929404421

In [5]:
# mean absolute deviation
np.sum((planets["distance"] - planets["distance"].mean()).abs()) / planets[
    "distance"
].count()

318.10088545240666

In [6]:
# root mean squared deviation
_ = np.sum((planets["distance"] - planets["distance"].mean()).pow(2)) / (
    planets["distance"].count() - 1
)
np.sqrt(_)

733.1164929404421

### split, apply, combine

In [7]:
df = pd.DataFrame(
    {"key": ["A", "B", "C", "A", "B", "C"], "data": range(6)}, columns=["key", "data"]
)
print(df)

  key  data
0   A     0
1   B     1
2   C     2
3   A     3
4   B     4
5   C     5

In [8]:
# the groupby object
df.groupby("key")

In [9]:
for i in df.groupby("key").__dir__():
    if not i.startswith("_"):
        print(i)

agg
aggregate
all
any
apply
bfill
boxplot
corr
corrwith
count
cov
cumcount
cummax
cummin
cumprod
cumsum
data
describe
diff
dtypes
ewm
expanding
ffill
fillna
filter
first
get_group
groups
head
hist
idxmax
idxmin
indices
key
last
max
mean
median
min
ndim
ngroup
ngroups
nth
nunique
ohlc
pct_change
pipe
plot
prod
quantile
rank
resample
rolling
sample
sem
shift
size
skew
std
sum
tail
take
transform
value_counts
var

In [10]:
df.groupby("key").sum()

     data
key
A       3
B       5
C       7

In [11]:
# column indexing
planets.groupby("method")["orbital_period"]

In [12]:
planets.groupby("method")["orbital_period"].count()

method
Astrometry                         2
Eclipse Timing Variations          9
Imaging                           12
Microlensing                       7
Orbital Brightness Modulation      3
Pulsar Timing                      5
Pulsation Timing Variations        1
Radial Velocity                  553
Transit                          397
Transit Timing Variations          3
Name: orbital_period, dtype: int64

In [13]:
planets.groupby("method")["orbital_period"].median()

method
Astrometry                         631.180000
Eclipse Timing Variations         4343.500000
Imaging                          27500.000000
Microlensing                      3300.000000
Orbital Brightness Modulation        0.342887
Pulsar Timing                       66.541900
Pulsation Timing Variations       1170.000000
Radial Velocity                    360.200000
Transit                              5.714932
Transit Timing Variations           57.011000
Name: orbital_period, dtype: float64

In [14]:
# iteration over groups
for (method, group) in planets.groupby("method"):
    print("{0:30s} shape={1}".format(method, group.shape))

Astrometry                     shape=(2, 6)
Eclipse Timing Variations      shape=(9, 6)
Imaging                        shape=(38, 6)
Microlensing                   shape=(23, 6)
Orbital Brightness Modulation  shape=(3, 6)
Pulsar Timing                  shape=(5, 6)
Pulsation Timing Variations    shape=(1, 6)
Radial Velocity                shape=(553, 6)
Transit                        shape=(397, 6)
Transit Timing Variations      shape=(4, 6)

In [15]:
# dispatch methods
planets.groupby("method")["year"].describe()

,count,mean,std,min,25%,50%,75%,max
method,,,,,,,,
Astrometry,2.0,2011.500000,2.121320,2010.0,2010.75,2011.5,2012.25,2013.0
Eclipse Timing Variations,9.0,2010.000000,1.414214,2008.0,2009.00,2010.0,2011.00,2012.0
Imaging,38.0,2009.131579,2.781901,2004.0,2008.00,2009.0,2011.00,2013.0
Microlensing,23.0,2009.782609,2.859697,2004.0,2008.00,2010.0,2012.00,2013.0
Orbital Brightness Modulation,3.0,2011.666667,1.154701,2011.0,2011.00,2011.0,2012.00,2013.0
Pulsar Timing,5.0,1998.400000,8.384510,1992.0,1992.00,1994.0,2003.00,2011.0
Pulsation Timing Variations,1.0,2007.000000,NaN,2007.0,2007.00,2007.0,2007.00,2007.0
Radial Velocity,553.0,2007.518987,4.249052,1989.0,2005.00,2009.0,2011.00,2014.0
Transit,397.0,2011.236776,2.077867,2002.0,2010.00,2012.0,2013.00,2014.0
Transit Timing Variations,4.0,2012.500000,1.290994,2011.0,2011.75,2012.5,2013.25,2014.0

In [16]:
planets["year"].describe()

count    1035.000000
mean     2009.070531
std         3.972567
min      1989.000000
25%      2007.000000
50%      2010.000000
75%      2012.000000
max      2014.000000
Name: year, dtype: float64

### aggregate, filter, transform, apply

In [17]:
rng = np.random.RandomState(0)
df = pd.DataFrame(
    {"key": ["A", "B", "C", "A", "B", "C"], "data1": range(6), "data2": rng.randint(0, 10, 6)},
    columns=["key", "data1", "data2"],
)
print(df)

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

In [19]:
# aggregate
df.groupby("key").aggregate(["min", np.median, max])

C:\Users\yzdom\AppData\Local\Temp\ipykernel_3856\1513069430.py:2: FutureWarning: The provided callable <function median at 0x000002B4E7B809A0> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  df.groupby("key").aggregate(["min", np.median, max])
C:\Users\yzdom\AppData\Local\Temp\ipykernel_3856\1513069430.py:2: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df.groupby("key").aggregate(["min", np.median, max])

    data1            data2
      min median max   min median max
key
A       0    1.5   3     3    4.0   5
B       1    2.5   4     0    3.5   7
C       2    3.5   5     3    6.0   9

In [20]:
df.groupby("key").aggregate({"data1": "min", "data2": "max"})

     data1  data2
key
A        0      5
B        1      7
C        2      9

In [21]:
df.groupby("key").agg(
    one_min=pd.NamedAgg(column="data1", aggfunc="min")
)

     one_min
key
A          0
B          1
C          2

In [15]:
# filtering
def filter_func(x):
    return x["data2"].std() > 4

In [17]:
print(df); print(df.groupby("key").std())

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9
       data1     data2
key
A    2.12132  1.414214
B    2.12132  4.949747
C    2.12132  4.242641

In [18]:
print(df.groupby("key").filter(filter_func))

  key  data1  data2
1   B      1      0
2   C      2      3
4   B      4      7
5   C      5      9

In [19]:
# transformation
df.groupby("key").transform(lambda x: x - x.mean())

   data1  data2
0   -1.5    1.0
1   -1.5   -3.5
2   -1.5   -3.0
3    1.5   -1.0
4    1.5    3.5
5    1.5    3.0

In [20]:
# apply
def norm_by_data2(x):
    x["data1"] /= x["data2"].sum()
    return x

print(df); print(df.groupby("key").apply(norm_by_data2))

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9
      key     data1  data2
key
A   0   A  0.000000      5
    3   A  0.375000      3
B   1   B  0.142857      0
    4   B  0.571429      7
C   2   C  0.166667      3
    5   C  0.416667      9

C:\Users\yzdom\AppData\Local\Temp\ipykernel_7224\3300958980.py:6: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  print(df); print(df.groupby("key").apply(norm_by_data2))

In [23]:
def norm_by_data2(x):
    x["res"] = x["data1"] / x["data2"].sum()
    return x

df.groupby("key").apply(norm_by_data2)

C:\Users\yzdom\AppData\Local\Temp\ipykernel_7224\1124158004.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df.groupby("key").apply(norm_by_data2)

      key  data1  data2       res
key
A   0   A      0      5  0.000000
    3   A      3      3  0.375000
B   1   B      1      0  0.142857
    4   B      4      7  0.571429
C   2   C      2      3  0.166667
    5   C      5      9  0.416667

### grouping key specification

In [24]:
# list, array, series, or index providing the grouping keys
L = [0, 1, 0, 1, 2, 0]
print(df); print(df.groupby(L).sum())

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9
   key  data1  data2
0  ACC      7     17
1   BA      4      3
2    B      4      7

In [25]:
df.groupby(df["key"]).sum()

     data1  data2
key
A        3      8
B        5      7
C        7     12

In [26]:
# a dictionary or series mapping index to group
df2 = df.set_index("key")
mapping = {"A": "vowel", "B": "consonant", "C": "consonant"}
df2.groupby(mapping).sum()

           data1  data2
key
consonant     12     19
vowel          3      8

In [27]:
# any Python function
df2.groupby(str.lower).mean()

     data1  data2
key
a      1.5    4.0
b      2.5    3.5
c      3.5    6.0

In [29]:
# a list of valid keys
df2.groupby([str.lower, mapping]).mean()

               data1  data2
key key
a   vowel        1.5    4.0
b   consonant    2.5    3.5
c   consonant    3.5    6.0

In [31]:
# groupby example
planets

               method  number  orbital_period   mass  distance  year
0     Radial Velocity       1      269.300000   7.10     77.40  2006
1     Radial Velocity       1      874.774000   2.21     56.95  2008
2     Radial Velocity       1      763.000000   2.60     19.84  2011
3     Radial Velocity       1      326.030000  19.40    110.62  2007
4     Radial Velocity       1      516.220000  10.50    119.47  2009
...               ...     ...             ...    ...       ...   ...
1030          Transit       1        3.941507    NaN    172.00  2006
1031          Transit       1        2.615864    NaN    148.00  2007
1032          Transit       1        3.191524    NaN    174.00  2007
1033          Transit       1        4.125083    NaN    293.00  2008
1034          Transit       1        4.187757    NaN    260.00  2008

[1035 rows x 6 columns]

In [32]:
decade = 10 * (planets["year"] // 10)
decade = decade.astype(str) + "s"
decade.name = "decade"
planets.groupby(["method", decade])["number"].sum().unstack().fillna(0)

decade                         1980s  1990s  2000s  2010s
method
Astrometry                       0.0    0.0    0.0    2.0
Eclipse Timing Variations        0.0    0.0    5.0   10.0
Imaging                          0.0    0.0   29.0   21.0
Microlensing                     0.0    0.0   12.0   15.0
Orbital Brightness Modulation    0.0    0.0    0.0    5.0
Pulsar Timing                    0.0    9.0    1.0    1.0
Pulsation Timing Variations      0.0    0.0    1.0    0.0
Radial Velocity                  1.0   52.0  475.0  424.0
Transit                          0.0    0.0   64.0  712.0
Transit Timing Variations        0.0    0.0    0.0    9.0

### ways to specify agg

In [ ]:
df = pd.read_csv('../titanic.csv')

In [ ]:
df["fare_bin"] = pd.qcut(df["fare"], q=4)

# groupby named arg
df.groupby(["fare_bin"], dropna=False, observed=False).agg(
    n=pd.NamedAgg(column="fare_bin", aggfunc="count"),
    shape=pd.NamedAgg(
        column="who",
        aggfunc=lambda x: df.loc[x.index, :].shape,
    ),
    survive_rate=pd.NamedAgg(column="survived", aggfunc="mean"),
    n_man=pd.NamedAgg(column="who", aggfunc=lambda x: x.isin(["man"]).sum()),
    pct_man=pd.NamedAgg(
        column="who",
        aggfunc=lambda x: (
            x.isin(["man"]).sum() / x.count() if x.count() > 0 else np.nan
        )
        * 100,
    ),
)

                   n      shape  survive_rate  n_man    pct_man
fare_bin
(-0.001, 7.91]   223  (223, 16)      0.197309    179  80.269058
(7.91, 14.454]   224  (224, 16)      0.303571    153  68.303571
(14.454, 31.0]   222  (222, 16)      0.454955    111  50.000000
(31.0, 512.329]  222  (222, 16)      0.581081     94  42.342342