In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### basic

In [3]:
planets = sns.load_dataset("planets")
print(planets.head())
print(planets.shape)

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009
(1035, 6)

In [4]:
planets.dropna().describe()

          number  orbital_period        mass    distance         year
count  498.00000      498.000000  498.000000  498.000000   498.000000
mean     1.73494      835.778671    2.509320   52.068213  2007.377510
std      1.17572     1469.128259    3.636274   46.596041     4.167284
min      1.00000        1.328300    0.003600    1.350000  1989.000000
25%      1.00000       38.272250    0.212500   24.497500  2005.000000
50%      1.00000      357.000000    1.245000   39.940000  2009.000000
75%      2.00000      999.600000    2.867500   59.332500  2011.000000
max      6.00000    17337.500000   25.000000  354.000000  2014.000000

In [5]:
planets["distance"].std()

733.1164929404421

In [12]:
# mean absolute deviation
np.sum((planets["distance"] - planets["distance"].mean()).abs()) / planets[
    "distance"
].count()

318.10088545240666

In [16]:
# root mean squared deviation
_ = np.sum((planets["distance"] - planets["distance"].mean()).pow(2)) / (
    planets["distance"].count() - 1
)
np.sqrt(_)

733.1164929404421

### split, apply, combine

In [17]:
df = pd.DataFrame(
    {"key": ["A", "B", "C", "A", "B", "C"], "data": range(6)}, columns=["key", "data"]
)
print(df)

  key  data
0   A     0
1   B     1
2   C     2
3   A     3
4   B     4
5   C     5

In [19]:
df.groupby("key")

In [20]:
for i in df.groupby("key").__dir__():
    if not i.startswith("_"):
        print(i)

agg
aggregate
all
any
apply
bfill
boxplot
corr
corrwith
count
cov
cumcount
cummax
cummin
cumprod
cumsum
data
describe
diff
dtypes
ewm
expanding
ffill
fillna
filter
first
get_group
groups
head
hist
idxmax
idxmin
indices
key
last
max
mean
median
min
ndim
ngroup
ngroups
nth
nunique
ohlc
pct_change
pipe
plot
prod
quantile
rank
resample
rolling
sample
sem
shift
size
skew
std
sum
tail
take
transform
value_counts
var

In [ ]:
df.groupby("key").sum()

     data
key
A       3
B       5
C       7

### aggregate, filter, transform, apply