In [1]:
import pandas as pd

In [3]:
# read complex Excel file
# skip the first 10 rows, read the next 5 rows, and use the columns from 'B' to 'D'
df = pd.read_excel(
    r"excel_table.xlsx",
    sheet_name="Sheet1",
    skiprows=range(1, 2),
    nrows=5,
    usecols="B:D",
)
df

          A         B         C
0  1.606687 -0.592937 -0.333606
1 -1.306918  2.504540 -0.915892
2 -1.645197 -0.655435 -0.451916
3 -1.106023  0.998995  0.051905
4  0.127527 -1.072797  0.612099

In [5]:
# write 2 df to 2 sheets in same Excel file
df2 = df.assign(B=df["B"] * 2).rename(columns={"B": "B2"})

with pd.ExcelWriter("output.xlsx") as writer:
    df.to_excel(writer, sheet_name="Sheet1", index=False)
    df2.to_excel(writer, sheet_name="Sheet2", index=False)