In [1]:
import pandas as pd
import numpy as np

In [2]:
monte = pd.Series(['Graham Chapman', 'John Cleese', 'Terry Gilliam',
                     'Eric Idle', 'Terry Jones', 'Michael Palin'])

### python str methods

In [3]:
monte.str.len()

0    14
1    11
2    13
3     9
4    11
5    13
dtype: int64

In [4]:
monte.str.startswith('T')

0    False
1    False
2     True
3    False
4     True
5    False
dtype: bool

In [5]:
monte.str.split()

0    [Graham, Chapman]
1       [John, Cleese]
2     [Terry, Gilliam]
3         [Eric, Idle]
4       [Terry, Jones]
5     [Michael, Palin]
dtype: object

In [6]:
monte.str.zfill(15)

0    0Graham Chapman
1    0000John Cleese
2    00Terry Gilliam
3    000000Eric Idle
4    0000Terry Jones
5    00Michael Palin
dtype: object

In [8]:
monte.str.find('i')

0   -1
1   -1
2    7
3    2
4   -1
5    1
dtype: int64

In [9]:
monte.str.rfind('i')

0    -1
1    -1
2    10
3     2
4    -1
5    11
dtype: int64

In [10]:
monte.str.translate(str.maketrans('aeiou', '12345'))

0    Gr1h1m Ch1pm1n
1       J4hn Cl22s2
2     T2rry G3ll31m
3         Er3c Idl2
4       T2rry J4n2s
5     M3ch12l P1l3n
dtype: object

In [13]:
print("abc".istitle())
monte.str.istitle() # is the string titlecased: e.g. 'Abc', as opposed to 'abc'

False

0    True
1    True
2    True
3    True
4    True
5    True
dtype: bool

In [21]:
monte2 = pd.Series(['Graham Chapman asdfasd asdf'])
print(monte2.str.split(n=1))
print(monte2.str.rsplit(n=1))

0    [Graham, Chapman asdfasd asdf]
dtype: object
0    [Graham Chapman asdfasd, asdf]
dtype: object

In [25]:
_ = monte.str.partition()
print(_.shape)
print(_)

(6, 3)
         0  1        2
0   Graham     Chapman
1     John      Cleese
2    Terry     Gilliam
3     Eric        Idle
4    Terry       Jones
5  Michael       Palin

### regex