In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import statsmodels.api as sm
from scipy import stats
from io import StringIO

In [7]:
# financial fields
_ = """
"col", col2
"$1,034.52",37.5
"$2,000",42
"""
df = pd.read_csv(StringIO(_))


df['col'] = df['col'].str.replace(r"\$|,", "", regex=True).astype(float)
df

       col   col2
0  1034.52   37.5
1  2000.00   42.0