In [9]:
import pandas as pd
import numpy as np

df = pd.DataFrame()
df["col"] = pd.Series([2, np.nan, 5, -1, 0], index=[4, 3, 2, 1, 0])

df["col2"] = df["col"].cumsum()
df["col3"] = df["col"].sort_index(ascending=True).cumsum()

df

   col  col2  col3
4  2.0   2.0   6.0
3  NaN   NaN   NaN
2  5.0   7.0   4.0
1 -1.0   6.0  -1.0
0  0.0   6.0   0.0