In [11]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import statsmodels.api as sm
from scipy import stats

In [8]:
df = pd.read_csv("../../toydata/titanic.csv")
print(f"{df.shape}")
df.head(1)

(891, 15)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.25,S,Third,man,True,NaN,Southampton,no,False

### arith, math funcs

In [33]:
idx = df.eval("fare != 0")
df.loc[idx, "log_fare"] = df.loc[idx, :].eval("log(fare)")
df.head(1)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,log_fare
0,0,3,male,22.0,1,0,7.25,S,Third,man,True,NaN,Southampton,no,False,1.981001

### filter via boolean, compare

In [48]:
df[df.eval("pclass == 1")].shape

(216, 16)

In [50]:
df[df.eval("embark_town == 'Southampton'")].shape

(644, 16)

In [ ]:
import numpy as np
import pandas as pd

nrows, ncols = 200000, 100

df1, df2, df3, df4 = [pd.DataFrame(np.random.randn(nrows, ncols)) for _ in range(4)]

# pd
"""
::

    %timeit df1 + df2 + df3 + df4

    %timeit pd.eval("df1 + df2 + df3 + df4")

    %timeit df1 * df2 + (df3 > df4)

    %timeit pd.eval("df1 * df2 + (df3 > df4)")

    %timeit (df1 > 0) & (df2 > 0) & (df3 > 0) & (df4 > 0)

    %timeit pd.eval("(df1 > 0) & (df2 > 0) & (df3 > 0) & (df4 > 0)")

    s = pd.Series(np.random.randn(50))

    %timeit df1 + df2 + df3 + df4 + s

    %timeit pd.eval("df1 + df2 + df3 + df4 + s")

"""

# df
df = pd.DataFrame(np.random.randn(5, 2), columns=["a", "b"])

df.eval("a + b")

df = pd.DataFrame(dict(a=range(5), b=range(5, 10)))

df.eval("c = a + b", inplace=True)

df.eval("d = a + b + c", inplace=True)

df.eval("a = 1", inplace=True)

df.eval("e = a - c", inplace=False)

df.eval(
    """
c = a + b
d = a + b + c
a = 1""",
    inplace=False,
)

df = pd.DataFrame(dict(a=range(5), b=range(5, 10)))

df["c"] = df["a"] + df["b"]

df["d"] = df["a"] + df["b"] + df["c"]

df["a"] = 1

df = pd.DataFrame(dict(a=range(5), b=range(5, 10)))

df.query("a > 2")

df.query("a > 2", inplace=True)

# local
df = pd.DataFrame(np.random.randn(5, 2), columns=list("ab"))

newcol = np.random.randn(len(df))

df.eval("b + @newcol")

df.query("b < @newcol")

a = np.random.randn()

df.query("@a < a")

df.loc[a < df["a"]]  # same as the previous expression