In [1]:
import pandas as pd
import numpy as np

In [4]:
# cmap options
# 'viridis', 'plasma', 'inferno', 'magma', 'cividis'
# 'Greys', 'Purples', 'Blues', 'Greens', 'Oranges', 'Reds',
# 'YlOrBr', 'YlOrRd', 'OrRd', 'PuRd', 'RdPu', 'BuPu',
# 'GnBu', 'PuBu', 'YlGnBu', 'PuBuGn', 'BuGn', 'YlGn'

### color some elements

In [6]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame(
    {"Math": [90, 80, 70], "Science": [85, 75, 65], "English": [88, 78, 68]},
    index=["Alice", "Bob", "Charlie"],
)
df

         Math  Science  English
Alice      90       85       88
Bob        80       75       78
Charlie    70       65       68

In [12]:
styled_df = df.style.set_table_styles(
    [
        {
            "selector": "th.col_heading",
            "props": [("background-color", "green"), ("color", "black")],
        },  # Header
        {
            "selector": "th.row_heading",
            "props": [("background-color", "lightblue"), ("color", "black")],
        },  # Index
        {
            "selector": "td",
            "props": [("background-color", "white"), ("color", "black")],
        },  # Data
    ]
)
styled_df

In [ ]:
# Apply styling
styled_df = df.style.set_table_styles(
    [
        {
            "selector": "th.col_heading",
            "props": [("background-color", "#d1e7dd"), ("color", "black")],
        },  # Header
        {
            "selector": "th.row_heading",
            "props": [("background-color", "#f8d7da"), ("color", "black")],
        },  # Index
        {"selector": "td", "props": [("background-color", "#fff3cd")]},  # Data cells
    ]
).set_caption("ðŸŽ¨ Styled Student Scores")

styled_df

### color fill

In [2]:
df = pd.DataFrame(np.random.randn(5, 5))

In [3]:
df.style.background_gradient(cmap="Blues")

In [4]:
df.style.background_gradient(cmap="RdYlGn")

In [ ]:
# example of pd set_option
pd.set_option("display.max_rows", 10)
pd.set_option("display.max_columns", 10)
pd.set_option("display.width", 1000)
pd.set_option("display.max_colwidth", 1000)
pd.set_option("display.precision", 2)
pd.set_option("display.float_format", "{:,.2f}".format)
pd.set_option("display.show_dimensions", True)
pd.set_option("display.colheader_justify", "left")
pd.set_option("display.max_info_columns", 10)
pd.set_option("display.max_info_rows", 10)
pd.set_option("display.notebook_repr_html", True)
pd.set_option("display.html.border", 1)
pd.set_option("display.large_repr", "truncate")
pd.set_option("display.expand_frame_repr", False)
pd.set_option("display.max_seq_items", 10)

### html

In [ ]:
# display table as html
df = pd.DataFrame({"a": [1, 2, 3], "b": [4, 5, 6]})
df.to_html("test.html")

In [ ]:
# display table as html with css
df = pd.DataFrame({"a": [1, 2, 3], "b": [4, 5, 6]})
df.to_html("test.html", classes="table table-striped table-hover")

In [ ]:
# multiple dataframe on 1 html page
#########################################
df1 = pd.DataFrame(np.random.randn(20, 20))
df2 = pd.DataFrame(np.random.randn(20, 20))
df3 = pd.DataFrame(np.random.randn(20, 20))

df1 = df1.style.background_gradient(cmap="RdYlGn")
df2 = df2.style.background_gradient(cmap="RdYlGn")
df3 = df3.style.background_gradient(cmap="RdYlGn")

html1 = df1.to_html()
html2 = df2.to_html()
html3 = df3.to_html()

# combine html
lst = [html1, html2, html3]
html = "<br>".join(lst)

# add title above each table
html = (
    "<h1>Table 1</h1>"
    + html1
    + "<br><h1>Table 2</h1>"
    + html2
    + "<br><h1>Table 3</h1>"
    + html3
)

# save html
with open("test.html", "w") as f:
    f.write(html)

### setting

In [ ]:
# Set the maximum number of rows displayed to 10
pd.set_option("display.max_rows", 10)

# Set the maximum number of columns displayed to 10
pd.set_option("display.max_columns", 10)

# Create a large DataFrame for demonstration
df = pd.DataFrame(np.random.rand(100, 50))

# Display the DataFrame
df