In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl

### set up data

In [2]:
df = pd.read_csv("data/titanic.csv")
df.shape
print(df.head().to_string())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class    who  adult_male deck  embark_town alive  alone
0         0       3    male  22.0      1      0   7.2500        S  Third    man        True  NaN  Southampton    no  False
1         1       1  female  38.0      1      0  71.2833        C  First  woman       False    C    Cherbourg   yes  False
2         1       3  female  26.0      0      0   7.9250        S  Third  woman       False  NaN  Southampton   yes   True
3         1       1  female  35.0      1      0  53.1000        S  First  woman       False    C  Southampton   yes  False
4         0       3    male  35.0      0      0   8.0500        S  Third    man        True  NaN  Southampton    no   True

In [3]:
df["age_bin"] = pd.qcut(df["age"], q=10)

grp_dict = {
    "n": ("age_bin", "size"),
    "survival_rate": ("survived", "mean"),
}
for who in df["who"].unique():
    grp_dict[f"survival_rate_{who}"] = (
        "survived",
        lambda x, w=who: df.loc[x.index]
        .loc[lambda y: y["who"] == w, "survived"]
        .mean(),
    )

pdf = df.groupby("age_bin", observed=False, as_index=False).agg(**grp_dict)
print(pdf.head().to_string())

         age_bin   n  survival_rate  survival_rate_man  survival_rate_woman  survival_rate_child
0  (0.419, 14.0]  77       0.584416                NaN                  NaN             0.584416
1   (14.0, 19.0]  87       0.390805           0.102041             0.781250             0.666667
2   (19.0, 22.0]  67       0.283582           0.108696             0.666667                  NaN
3   (22.0, 25.0]  70       0.371429           0.136364             0.769231                  NaN
4   (25.0, 28.0]  61       0.393443           0.255814             0.722222                  NaN

### content

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Sample data
np.random.seed(0)
df = pd.DataFrame({
    'Category': np.repeat(['A', 'B', 'C'], 50),
    'Value': np.concatenate([
        np.random.normal(loc=5, scale=1, size=50),
        np.random.normal(loc=7, scale=1.5, size=50),
        np.random.normal(loc=6, scale=0.5, size=50)
    ])
})

# Group values by category
grouped = [df[df['Category'] == cat]['Value'].values for cat in sorted(df['Category'].unique())]

# Create figure and axes
fig, ax = plt.subplots(figsize=(8, 5))

# Boxplot
ax.boxplot(grouped, patch_artist=True)

# Label x-axis with category names
ax.set_xticklabels(sorted(df['Category'].unique()))
ax.set_title("Boxplot by Category")
ax.set_xlabel("Category")
ax.set_ylabel("Value")

plt.tight_layout()
plt.show()