In [2]:
import pandas as pd

In [8]:

# Sample DataFrame
data = {
    'A': [1, 2, 3, 4],
    'B': [5, 6, 7, 8],
    'C': [9, 10, 11, 12]
}
df = pd.DataFrame(data)
print(f"{df.shape}")
df.head()

(4, 3)

   A  B   C
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12

In [11]:
# Example 1: Create a new column based on an expression
df.eval('D = A + B + C', inplace=True)
df

   A  B   C   D
0  1  5   9  15
1  2  6  10  18
2  3  7  11  21
3  4  8  12  24

In [12]:
# Example 2: Filter rows based on an expression
filtered_df = df[df.eval('A + B > 7')]
filtered_df

   A  B   C   D
1  2  6  10  18
2  3  7  11  21
3  4  8  12  24

In [18]:
# Example 3: Use eval to perform arithmetic operations
result = df.eval('A * B - C')
result

0    -4
1     2
2    10
3    20
dtype: int64