ref: https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import statsmodels.api as sm
from scipy import stats

In [5]:
df = pd.read_csv('../toydata/titanic.csv')
df.shape

(891, 15)

### overview

In [8]:
df.shape

(891, 15)

In [11]:
df.head(1).T

                       0
survived               0
pclass                 3
sex                 male
age                 22.0
sibsp                  1
parch                  0
fare                7.25
embarked               S
class              Third
who                  man
adult_male          True
deck                 NaN
embark_town  Southampton
alive                 no
alone              False

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    object
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    object
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), float64(2), int64(4), object(7)
memory usage: 92.4+ KB

###

### reshape

In [17]:
pd.DataFrame.melt
pd.DataFrame.pivot
pd.DataFrame.pivot_table

<function pandas.core.frame.DataFrame.pivot_table(self, values=None, index=None, columns=None, aggfunc: 'AggFuncType' = 'mean', fill_value=None, margins: 'bool' = False, dropna: 'bool' = True, margins_name: 'Level' = 'All', observed: 'bool | lib.NoDefault' = <no_default>, sort: 'bool' = True) -> 'DataFrame'>

### filtering

In [ ]:
pd.DataFrame.loc
pd.DataFrame.query
pd.DataFrame.filter

### group

In [ ]:
pd.DataFrame.groupby
pd.DataFrame.expanding
pd.DataFrame.rolling

In [ ]:
pd.DataFrame.rank # operate on group but return original shape

In [ ]:
pd.DataFrame.agg
pd.DataFrame.sum # summary func

### mutation

In [ ]:
pd.Series
pd.Series.map
pd.Series.apply
pd.Series.dt
pd.Series.str

### join

In [ ]:
pd.DataFrame.merge