In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [26]:
# Example DataFrame 1
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'D': ["a", "b", "c"]}, index=[0, 1, 2])

# Example DataFrame 2
df2 = pd.DataFrame({'A': [1.0001, 2, 9], 'C': [4, 5, 6], 'D': ["z", "b", "c"]}, index=[0, 1, 3])

In [27]:
s1 = set(df1.index)
s2 = set(df2.index)

if s1 == s2:
    print("Both DataFrames have the same indexes")
    if df1.index.equals(df2.index):
        print("Both DataFrames have the same indexes and in the same order")
    else:
        print("Both DataFrames have the same indexes but in different order")
else:
    n_in_left_not_in_right = len(s1 - s2)
    n_in_right_not_in_left = len(s2 - s1)
    n_in_both = len(s1 & s2)
    print("DataFrames have different indexes")
    print(f"Number of indexes in left DataFrame but not in right DataFrame: {n_in_left_not_in_right}")
    print(f"Number of indexes in right DataFrame but not in left DataFrame: {n_in_right_not_in_left}")
    print(f"Number of indexes in both DataFrames: {n_in_both}")

DataFrames have different indexes
Number of indexes in left DataFrame but not in right DataFrame: 1
Number of indexes in right DataFrame but not in left DataFrame: 1
Number of indexes in both DataFrames: 2

In [28]:
s1 = set(df1.columns)
s2 = set(df2.columns)

if s1 == s2:
    print("Both DataFrames have the same columns")
    if df1.columns.equals(df2.columns):
        print("Both DataFrames have the same columns and in the same order")
    else:
        print("Both DataFrames have the same columns but in different order")
else:
    n_in_left_not_in_right = len(s1 - s2)
    n_in_right_not_in_left = len(s2 - s1)
    n_in_both = len(s1 & s2)
    print("DataFrames have different columns")
    print(f"Number of columns in left DataFrame but not in right DataFrame: {n_in_left_not_in_right}")
    print(f"Number of columns in right DataFrame but not in left DataFrame: {n_in_right_not_in_left}")
    print(f"Number of columns in both DataFrames: {n_in_both}")

DataFrames have different columns
Number of columns in left DataFrame but not in right DataFrame: 1
Number of columns in right DataFrame but not in left DataFrame: 1
Number of columns in both DataFrames: 2

In [29]:
common_indexes = list(set(df1.index) & set(df2.index))
common_columns = list(set(df1.columns) & set(df2.columns))

df1_common = df1.loc[common_indexes, common_columns]
df2_common = df2.loc[common_indexes, common_columns]

In [33]:
df1_common

   D  A
0  a  1
1  b  2

In [34]:
df2_common

   D       A
0  z  1.0001
1  b  2.0000

In [32]:
df1_common.compare(df2_common, align_axis=1,keep_shape=True, keep_equal=True)

     D          A
  self other self   other
0    a     z    1  1.0001
1    b     b    2  2.0000

In [35]:
df1_common.compare(df2_common, align_axis=1,keep_shape=False, keep_equal=False)

     D          A
  self other self   other
0    a     z  1.0  1.0001