### list

In [27]:
lst = [
    'ebit',
    'ebitda',
    'net_income',
]

lst2 = [
    'net_income',
    'operating_income',
    "total_assets",
]

In [28]:
lst[0]

'ebit'

In [29]:
lst[-1]

'net_income'

In [30]:
lst[1:3]

['ebitda', 'net_income']

In [31]:
mix = lst + lst2
mix

['ebit',
 'ebitda',
 'net_income',
 'net_income',
 'operating_income',
 'total_assets']

In [35]:
list(set(lst) | set(lst2))

['net_income', 'ebit', 'operating_income', 'ebitda', 'total_assets']

In [36]:
list(set(lst) & set(lst2))

['net_income']

### str and list comprehension

In [53]:
'schema.table'.split('.')

['schema', 'table']

In [58]:
a = 'schema'
b = 'table'
c = f"{a}.{b}"
c

'schema.table'

In [59]:
_ = f"""
select * from {c}
"""
print(_)

select * from schema.table

In [ ]:
_ =",".join(lst)
print(_)

ebit,ebitda,net_income

In [38]:
_ = ",\n".join(lst)
print(_)

ebit,
ebitda,
net_income

In [ ]:
res = []
for col in lst:
    res.append(f"WOE_{col}")
res

['WOE_ebit', 'WOE_ebitda', 'WOE_net_income']

In [41]:
woes = [f"WOE_{i}" for i in lst]
woes

['WOE_ebit', 'WOE_ebitda', 'WOE_net_income']

In [42]:
[i.replace('WOE_', '') for i in woes]

['ebit', 'ebitda', 'net_income']

In [40]:
[i for i in lst if '_' in i]

['net_income']

In [43]:
[i for i in woes + ["NOT_WOE"] if i.startswith('WOE_')]

['WOE_ebit', 'WOE_ebitda', 'WOE_net_income']

### dict

In [49]:
dic = {}
i = 0
for item in lst:
    dic[item] = i
    i += 1
dic

{'ebit': 0, 'ebitda': 1, 'net_income': 2}

In [50]:
dic = {}
for i, item in enumerate(lst):
    dic[item] = i
dic

{'ebit': 0, 'ebitda': 1, 'net_income': 2}

In [51]:
for k, v in dic.items():
    print(f"{k} : {v}")

ebit : 0
ebitda : 1
net_income : 2

In [52]:
list(dic.keys())

['ebit', 'ebitda', 'net_income']

### regexp

In [72]:
import re

p = re.compile(r'([^_]+)_(.+)')
p.search('scr_net_income').group()

'scr_net_income'

In [73]:
p.search('scr_net_income').groups()

('scr', 'net_income')

In [74]:
p.search('scr') == None

True

In [81]:
p = re.compile(r'(scr|woe)_(.+)')
print(p.search('scr_net_income').groups())
print(p.search('woe_net_income').groups())
print(p.search('net_income') == None)

('scr', 'net_income')
('woe', 'net_income')
True

In [84]:
p = re.compile(r'scr|woe_.+',)
for col in [
    'scr_net_income',
    'woe_net_income',
    'net_income',
]:
    if p.search(col):
        print(p.search(col).group())

scr
woe_net_income