In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Example DataFrame 1
df1 = pd.DataFrame(
    {"A": [1, 2, 3], "B": [4, 5, 6], "D": ["a", "b", "c"]}, index=[0, 1, 2]
)

# Example DataFrame 2
df2 = pd.DataFrame(
    {"A": [1.0001, 2, 9], "C": [4, 5, 6], "D": ["z", "b", "c"]}, index=[0, 1, 3]
)

In [5]:
def compare_list(l1, l2):

    if (l1 == l2).all():
        print("lists are the same")
    else:
        s1 = set(l1)
        s2 = set(l2)

        if s1 == s2:
            print("lists are the same, but order is different")
            return
        else:
            print("lists are different")
            print(
                f"there are {len(s1 - s2)} elements in the first list that are not in the second list, they are:"
            )
            print(s1 - s2)
            print(
                f"there are {len(s2 - s1)} elements in the second list that are not in the first list, they are:"
            )
            print(s2 - s1)
            print(
                f"there are {len(s1 & s2)} elements that are in both lists, they are:"
            )
            print(s1 & s2)

In [6]:
compare_list(df1.index, df2.index)

lists are different
there are 1 elements in the first list that are not in the second list, they are:
{2}
there are 1 elements in the second list that are not in the first list, they are:
{3}
there are 2 elements that are in both lists, they are:
{0, 1}

In [7]:
compare_list(df1.columns, df2.columns)

lists are different
there are 1 elements in the first list that are not in the second list, they are:
{'B'}
there are 1 elements in the second list that are not in the first list, they are:
{'C'}
there are 2 elements that are in both lists, they are:
{'D', 'A'}

In [8]:
common_indexes = list(set(df1.index) & set(df2.index))
common_columns = list(set(df1.columns) & set(df2.columns))

df1_common = df1.loc[common_indexes, common_columns]
df2_common = df2.loc[common_indexes, common_columns]

In [10]:
df1_common

   D  A
0  a  1
1  b  2

In [11]:
df2_common

   D       A
0  z  1.0001
1  b  2.0000

In [12]:
df1_common.compare(df2_common, align_axis=1, keep_shape=True, keep_equal=True)

     D          A
  self other self   other
0    a     z    1  1.0001
1    b     b    2  2.0000

In [13]:
df1_common.compare(df2_common, align_axis=1, keep_shape=False, keep_equal=False)

     D          A
  self other self   other
0    a     z  1.0  1.0001