In [3]:
import pandas as pd
from io import StringIO

_ = """
col1,col2
a,1
b,2
c,3
a,4
b,5
b,6
"""

df = pd.read_csv(StringIO(_))
df

  col1  col2
0    a     1
1    b     2
2    c     3
3    a     4
4    b     5
5    b     6