In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import statsmodels.api as sm
from scipy import stats

In [2]:
df = pd.read_csv("../toydata/titanic.csv")
print(f"{df.shape}")
df.head(1)

(891, 15)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.25,S,Third,man,True,NaN,Southampton,no,False

### Missing, zero, negative, blank values

In [3]:
n_nulls = df.isnull().sum()
n_zero = df.apply(lambda x: x == 0).sum()
n_negative = df.select_dtypes(include="number").apply(lambda x: x < 0).sum()
n_blank_str = (
    df.select_dtypes(include=object).apply(lambda x: x.str.strip() == "").sum()
)
df_sums = pd.DataFrame(
    {
        "n_missing": n_nulls,
        "n_zero": n_zero,
        "n_negative": n_negative,
        "n_blank_string": n_blank_str,
    }
)
df_sums_pct = (
    df_sums.div(df.shape[0]).mul(100).round(2).rename(columns=lambda x: x + "_pct")
)

In [4]:
_ = df_sums.astype(str)
_ = _.replace("nan", "").replace("NaN", "")
_

            n_missing n_zero n_negative n_blank_string
adult_male          0    354
age               177      0        0.0
alive               0      0                       0.0
alone               0    354
class               0      0                       0.0
deck              688      0                       0.0
embark_town         2      0                       0.0
embarked            2      0                       0.0
fare                0     15        0.0
parch               0    678        0.0
pclass              0      0        0.0
sex                 0      0                       0.0
sibsp               0    608        0.0
survived            0    549        0.0
who                 0      0                       0.0

In [5]:
_ = df_sums_pct.astype(str)
_ = _.replace("nan", "").replace("NaN", "")
_

            n_missing_pct n_zero_pct n_negative_pct n_blank_string_pct
adult_male            0.0      39.73
age                 19.87        0.0            0.0
alive                 0.0        0.0                               0.0
alone                 0.0      39.73
class                 0.0        0.0                               0.0
deck                77.22        0.0                               0.0
embark_town          0.22        0.0                               0.0
embarked             0.22        0.0                               0.0
fare                  0.0       1.68            0.0
parch                 0.0      76.09            0.0
pclass                0.0        0.0            0.0
sex                   0.0        0.0                               0.0
sibsp                 0.0      68.24            0.0
survived              0.0      61.62            0.0
who                   0.0        0.0                               0.0