In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import statsmodels.api as sm
from scipy import stats

In [2]:
def calculate_signal(df, col, target_col):

    _ =df.groupby(col,dropna=False, observed=0).agg(
        count=(target_col,np.size),
        signal=(target_col,"sum")
    )
    _.rename(columns={"signal":target_col},inplace=True)
    _["count_pct"] = _["count"].div(_["count"].sum()).mul(100)
    _[f"{target_col}_pct"] = _[f"{target_col}"].div(_[f"{target_col}"].sum()).mul(100)
    _[f"{target_col}_rate"] = _[f"{target_col}"].div(_["count"]).mul(100)

    return _

In [3]:
def plot_bar_and_line(df, target_col, rotation=0):

    _ = df
    fig, ax = plt.subplots(1,2, figsize=(15,5))
    x_ticks = _.index.astype(str)
    title = f"Histogram & {target_col} of {_.index.name}"

    def func(ax, word):

        ax.bar(x_ticks, _[word])
        ax.set_xticks(x_ticks)
        ax.set_xticklabels(x_ticks, rotation=rotation)
        ax.set_xlabel(_.index.name)
        ax.set_ylabel(word, loc="center")
        ax.set_title(title)

        ax2 = ax.twinx()
        ax2.plot(x_ticks, _[target_col], color='red')
        ax2.set_ylabel(target_col, loc="bottom")

    func(ax[0], "count")
    func(ax[1], "count_pct")

    plt.show()

### calcs

In [4]:
df = pd.read_csv('../toydata/titanic.csv')
print(f"{df.shape}")
df.head(1)

(891, 15)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.25,S,Third,man,True,NaN,Southampton,no,False

In [41]:
edges = [0,20,40,100]
df["age_binned"] = pd.cut(df["age"], bins=edges, right=False)
edges = [0,10,50,100,600]
df["fare_binned"] = pd.cut(df["fare"], bins=edges, right=False)

df["age_fare_binned"] = df["age_binned"].astype(str) + "_" + df["fare_binned"].astype(str)

_ = calculate_signal(df, target_col = "survived", col = "age_fare_binned")
_["age_binned"] = [i for i,j in _.index.str.split("_")]
_["fare_binned"] = [j for i,j in _.index.str.split("_")]

In [73]:
_.pivot(index = "age_binned", columns="fare_binned", values="count").round(2).style.map(lambda v: 'background-color:darkred;' if v < 20 else None)

In [59]:
_2 = _.pivot(index = "age_binned", columns="fare_binned", values="survived_rate").round(2)
_2.style.background_gradient(cmap="RdYlGn")