In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import statsmodels.api as sm
from scipy import stats

In [11]:
df = pd.read_csv("../toydata/titanic.csv")
print(f"{df.shape}")
print(df.iloc[0,:].to_string())

(891, 15)
survived                 0
pclass                   3
sex                   male
age                   22.0
sibsp                    1
parch                    0
fare                  7.25
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False

In [13]:
df['pclass_cat'] = df['pclass'].astype('category')

In [14]:
df.dtypes

survived          int64
pclass            int64
sex              object
age             float64
sibsp             int64
parch             int64
fare            float64
embarked         object
class            object
who              object
adult_male         bool
deck             object
embark_town      object
alive            object
alone              bool
pclass_cat     category
dtype: object

### Summary statistics and Summary category information

In [8]:
df.select_dtypes(include=["number"]).describe(
    percentiles=[
        0.01,
        0.25,
        0.5,
        0.75,
        0.99,
    ]
)

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
1%       0.000000    1.000000    1.000000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
99%      1.000000    3.000000   65.870000    5.000000    4.000000  249.006220
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [9]:
df.select_dtypes(include=["object"]).describe()

         sex embarked  class  who deck  embark_town alive
count    891      889    891  891  203          889   891
unique     2        3      3    3    7            3     2
top     male        S  Third  man    C  Southampton    no
freq     577      644    491  537   59          644   549

In [16]:
df.select_dtypes(include=["category"]).describe()

        pclass_cat
count          891
unique           3
top              3
freq           491